<%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/styles/auth.css">
  </head>

  <body>
    <toast></toast>
    <div class="section">
      <div class="container">
        <div class="logo">
          <img src="/assets/logo.png" alt="logo page">
        </div>
        <p class="projectTitle">Garage Management System</p>
        <form method="post" id="forgotPassword">
          <div class="formContainer">
            <div class="pageInputs">
              <div class="pageIcons">
                <img src="/icons/mail.svg" class="icons" alt="m">
              </div>
              <input type="text" name="email" id="email" placeholder="abc@pqr.xyz" tabindex="1"
                validation="require email" oninput="Validation.isValid(this)">
            </div>
          </div>


          <input type="button" class="submitButton" id="submitButton" value="Forgot Password" tabindex="3"
            onclick="Validation.validateAll('forgotPassword','u/forgotPassword')">
        </form>
        <div id="activate">

        </div>
      </div>
    </div>
    <script src="/scripts/validation.js"></script>
    <script src="/scripts/toast.js"></script>
    <%- include('../partials/foot.ejs') %>