<%- include('../partials/head.ejs') %>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/styles/auth.css">
  </head>

  <body>
    <div class="section">
      <div class="container">
        <div class="logo">
          <img src="logo.png" alt="logo page">
        </div>
        <p class="projectTitle">Garage Management System</p>
        <form action="/login" method="post">
          <div class="formContainer">
            <div class="pageInputs">
              <div class="pageIcons">
                <box-icon class="icons" color="white" name='mail-send'></box-icon>
              </div>

              <input type="text" name="email" id="email" placeholder="abc@pqr.xyz" tabindex="1">

            </div>
            <div class="pageInputs">
              <div class="pageIcons">
                <box-icon class="icons" color="white" name='lock-open-alt'></box-icon>
              </div>

              <input type="password" name="password" id="password" placeholder="* * * * * * * *" tabindex="2">

            </div>
            <div class="forgotPassword">
              <a href="#">forgot password ?</a>
            </div>
          </div>


          <input type="button" class="submitButton" id="submitButton" value="LOGIN" tabindex="3">
          <div class="createAccount">
            don’t have account ?<a href="/" tabindex="4"> create account</a>
          </div>
        </form>
      </div>
    </div>

    <%- include('../partials/foot.ejs') %>