<%- include('../partials/head.ejs') %>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/styles/auth.css">
  </head>

  <body>
    <toast></toast>
    <div class="section">
      <div class="container">
        <div class="logo">
          <img src="/assets/logo.png" alt="logo page">
        </div>
        <p class="projectTitle">Garage Management System</p>
        <form method="post" onsubmit="Validation.validateAll(event,'resetPassword')">
          <div class="formContainer">
            <div class="pageInputs">
              <div class="pageIcons">
                <box-icon class="icons" color="white" name='lock-open-alt'></box-icon>
              </div>
              <input type="password" name="password" id="password" placeholder="* * * * * * * *" tabindex="2"
                validation="require length8" oninput="Validation.isValid(this)">
            </div>
            <div class="pageInputs">
              <div class="pageIcons">
                <box-icon class="icons" color="white" name='lock-open-alt'></box-icon>
              </div>
              <input type="password" name="repeatPassword" id="repeatPassword" placeholder="* * * * * * * *"
                tabindex="2" validation="require length8" oninput="Validation.isValid(this)">
            </div>
          </div>
          <input type="submit" class="submitButton" id="submitButton" value="Reset Password" tabindex="3">
        </form>
      </div>
    </div>
    <script src="/scripts/validation.js"></script>
    <%- include('../partials/foot.ejs') %>