<%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/styles/auth.css">
  </head>

  <body>
    <toast></toast>
    <div class="section">
      <div class="container">
        <div class="logo">
          <img src="/assets/logo.png" alt="logo page">
        </div>
        <p class="projectTitle">Garage Management System</p>
        <form method="post" id="resetPassword">
          <div class="formContainer">
            <div class="pageInputs">
              <div class="pageIcons">
                <img src="/icons/lock.svg" alt="l" class="icons">
              </div>
              <input type="password" name="password" id="password" placeholder="* * * * * * * *" tabindex="2"
                validation="require length8" oninput="Validation.isValid(this)">
            </div>
            <div class="pageInputs">
              <div class="pageIcons">
                <img src="/icons/lock.svg" alt="l" class="icons">
              </div>
              <input type="password" name="repeatPassword" id="repeatPassword" placeholder="* * * * * * * *"
                tabindex="2" validation="require length8" oninput="Validation.isValid(this)">
            </div>
          </div>
          <input type="button" style="cursor: pointer;" class="submitButton" id="submitButton" value="Reset Password"
            tabindex="3" onclick="Validation.validateAll('resetPassword', 'u/resetPassword')">
        </form>
      </div>
    </div>
    <script src="/scripts/validation.js"></script>
    <script src="/scripts/toast.js"></script>
    <%- include('../partials/foot.ejs') %>