<%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/styles/auth.css">
  </head>

  <body>
    <div class="section">
      <div class="container">
        <div class="logo">
          <img src="/assets/logo.png" alt="logo page">
        </div>
        <p class="projectTitle">Garage Management System</p>
        <div class="imgContainer">
          <label for="customer"><img src="/assets/Group 35.png" alt="car image"></label>
          <input type="radio" name="role_id" id="customer" value="0" checked>
          <label for="owner"><img src="/assets/Group 15.png" alt="owner image"></label>
          <input type="radio" name="role_id" id="owner" value="1">
        </div>
        <form method="post" onsubmit="Validation.validateAll(event,'register')">
          <div class="formContainer">
            <div class="pageInputs">
              <div class="pageIcons">
                <img src="/icons/profile2.svg" alt="l" class="icons">
              </div>

              <input type="text" name="name" id="name" placeholder="your name" tabindex="1" validation="require alpha"
                oninput="Validation.isValid(this)">

            </div>
            <div class="formContainer">
              <div class="pageInputs">
                <div class="pageIcons">
                  <img src="/icons/mail.svg" alt="l" class="icons">
                </div>
                <input type="text" name="email" id="email" placeholder="abc@pqr.xyz" tabindex="2"
                  validation="require email" oninput="Validation.isValid(this)">
              </div>
              <div class="pageInputs">
                <div class="pageIcons">
                  <img src="/icons/lock.svg" alt="l" class="icons">
                </div>

                <input type="password" name="password" id="password" placeholder="* * * * * * * *" tabindex="3"
                  validation="require length8" oninput="Validation.isValid(this)">

              </div>

              <div class="pageInputs">
                <div class="pageIcons">
                  <img src="/icons/lock.svg" alt="l" class="icons">
                </div>

                <input type="password" name="conformPassword" id="conformPassword" placeholder="* * * * * * * *"
                  tabindex="4" validation="require length8" oninput="Validation.isValid(this)">

              </div>

              <input type="submit" class="registerButton" id="registerButton" value="REGISTER" tabindex="5">
              <div class="createAccount">
                already have account ? <a id="registerLogin" href="/signin" tabindex="6">login</a>
              </div>
        </form>
      </div>
    </div>
    <script src="/scripts/validation.js"></script>
    <%- include('../partials/foot.ejs') %>