<!-- <div class="add-service-container w-full" style="display: none;">
  <div class="flex justify-between items-center">
    <div class="bg-dark p-2 w-max rounded-md text-white">
      <a href="">
        << Back</a>
    </div>
    <div class="w-max flex justify-center items-center">
      <label for="add-service-container-servicesList text-dark text-2xl font-bold mr-4">Select Garage: </label>
      <select id="add-service-container-servicesList"
        class="bg-dark border  text-gray-900 text-sm text-white rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-52">
      </select>
    </div>
  </div>

  <div class="services w-full m-0 p-0">
    <div class="w-full flex flex-wrap -mx-2" id="services-row">

    </div>
  </div>
</div> -->