<link rel="stylesheet" href="/styles/calendar.css" />

<div class="select-container flex" id="garage-select">
  <select name="garage"
    class="bg-dark border text-gray-900 text-sm text-white rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-52"
    id="garageList">
    <option value="1">garage 1</option>
    <option value="2">garage 2</option>
  </select>
</div>

<div class="w-full min-h-full flex bg-white rounded-md mt-4">
  <div class="w-full h-full hidden bg-white rounded-md" id="calendar-display">
    <div class="ounded-md w-1/2">
      <div class="w-full">
        <div class="header">
          <div id="calendar-month" class="text-3xl font-bold"></div>
          <div class="flex gap-2 -mr-2">
            <button id="btnBack" class="flex justify-center">
              <img src="/icons/left.svg" alt="&lt;" />
            </button>
            <button id="btnNext" class="flex justify-center">
              <img src="/icons/right.svg" alt="&gt;" />
            </button>
          </div>
        </div>
        <div class="weekdays">
          <div>Sun</div>
          <div>Mon</div>
          <div>Tue</div>
          <div>Wed</div>
          <div>Thu</div>
          <div>Fri</div>
          <div>Sat</div>
        </div>
        <div id="calendar"></div>
      </div>
    </div>

    <div id="modal"></div>
    <div id="viewAppointments" class="w-1/2 p-2">
      <div class="flex justify-between max-h-min">
        <div class="text-3xl font-bold">Appointments</div>
        <input type="button" value="Back"
          class="bg-dark text-white cursor-pointer text-xl mb-1.5 mt-0.5 p-1.5 font-bold rounded-md"
          onclick="handleCalendar(0)" />
      </div>
      <table class="w-full border-collapse">
        <thead class="bg-dark text-white font-semibold">
          <tr>
            <th class="text-white p-3">Sr. NO.</th>
            <th class="text-white p-3">Customer Name</th>
            <th class="text-white p-3">slot</th>
          </tr>
        </thead>
        <tbody id="appointment-body"></tbody>
      </table>
    </div>
  </div>

  <div class="w-full h-full bg-white rounded-md m-4" id="normal-slot-listing">
    <div class="flex justify-end">
      <img src="/icons/calendar2.svg" alt="calendar" class="cursor-pointer w-10" onclick="handleCalendar(1)"
        title="Calendar" />
    </div>
    <table id="appointment-table" class="w-full border-collapse">
      <thead class="bg-dark text-white font-semibold">
        <tr>
          <th class="text-white p-2.5">Sr. No</th>
          <th class="text-white p-2.5">Customer Name</th>
          <th class="text-white p-2.5">Date</th>
          <th class="text-white p-2.5">Time Slot</th>
          <th class="text-white p-2.5">Status</th>
          <th class="text-white p-2.5">Action</th>
        </tr>
      </thead>
      <tbody id="appointments-table-body">
        <!-- <tr>
          <td>John Doe</td>
          <td>Apr 18, 2024</td>
          <td>9:00 AM - 11:00 AM</td>
        </tr> -->
      </tbody>
    </table>
    <div class="pagination font-family mt-5" id="appointment-pagination"></div>
  </div>
</div>
<script>
  const handleCalendar = (id) => {
    let divs = ["normal-slot-listing", "calendar-display"];
    if (id == 0) document.getElementById(divs[1]).classList.remove("flex");
    document.getElementById(divs[id]).classList.remove("hidden");
    document.getElementById(divs[(id + 1) % 2]).classList.add("hidden");
    if (id == 1) document.getElementById(divs[1]).classList.add("flex");
  };
  const handleAppointment = async (id, appointmentId) => {
    Swal.fire({
      title: "Are you sure?",
      text:
        id == 0
          ? `You want to delete this appointment???`
          : `You want to approve this appointment???`,
      showDenyButton: true,
      confirmButtonText: "Yes",
      denyButtonText: "No",
    }).then(async (result) => {
      if (result.isConfirmed) {
        let formData = new FormData();
        formData.append("id", id);
        formData.append("appointmentId", appointmentId);
        const result = await fetch("/owner/updateAppointment", {
          method: "POST",
          body: new URLSearchParams(formData),
        });
        const response = await result.json();

        if (result.status == 201) {
          // notification();
          socketIo.emit("notification", 1);
        }

        toast.show(response.success ? "success" : "error", response.message);
        loadAppointments();
      }
    });
  };

  const updateTable = (appointments, pagination) => {
    let table = "";
    let { totalRecords, page, startIndex, endIndex, totalPages } = pagination;
    let i = (page - 1) * 10 + 1;
    appointments.forEach((appointment) => {
      let status;

      if (appointment.status == 2) {
        status =
          "<div class='text-white font-semibold bg-lime-700 w-[100px] m-auto p-1 rounded-lg'>Approved</div>";
      } else if (appointment.status == 3) {
        status =
          "<div class='text-white font-semibold bg-rose-600 w-[100px] m-auto p-1 rounded-lg'>rejected</div>";
      } else if (appointment.status == 1) {
        status =
          "<div class='text-white font-semibold bg-yellow-600 w-[100px] m-auto p-1 rounded-lg'>Pending</div>";
      }
      table += `<tr class="border-b-2 border-black hover:bg-sky-100">
              <td class="p-2 text-base">${i}</td>
              <td class="text-lg">${appointment.customerName}</td>
              <td class="text-base">${appointment.date}</td>
              <td class="text-base">${appointment.startTime} - ${appointment.endTime}</td>
              <td>${status}</td>
              <td><div class="flex justify-center">`;
      if (appointment.status != 2)
        table += `<span class="cursor-pointer" onclick="handleAppointment(1, ${appointment.id})"><img src="/icons/check.svg" alt="approve" title="approve"></span>`;
      if (appointment.status != 3)
        table += `<span class="cursor-pointer" onclick="handleAppointment(0, ${appointment.id})"><img src="/icons/x.svg" alt="x" title="reject"></span>`;
      table += `</div></td></tr>`;
      i++;
    });
    let appointmentsTable = document.getElementById("appointments-table-body");
    if (table == "") {
      appointmentsTable.innerHTML = `<tr>
    <td colspan="4">
    <div class="w-full h-[80vh] flex justify-center items-center flex-col">
        <svg class="fill-[#ef4444]" width="100px" height="100px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path d="M520.741 163.801a10.234 10.234 0 00-3.406-3.406c-4.827-2.946-11.129-1.421-14.075 3.406L80.258 856.874a10.236 10.236 0 00-1.499 5.335c0 5.655 4.585 10.24 10.24 10.24h846.004c1.882 0 3.728-.519 5.335-1.499 4.827-2.946 6.352-9.248 3.406-14.075L520.742 163.802zm43.703-26.674L987.446 830.2c17.678 28.964 8.528 66.774-20.436 84.452a61.445 61.445 0 01-32.008 8.996H88.998c-33.932 0-61.44-27.508-61.44-61.44a61.445 61.445 0 018.996-32.008l423.002-693.073c17.678-28.964 55.488-38.113 84.452-20.436a61.438 61.438 0 0120.436 20.436zM512 778.24c22.622 0 40.96-18.338 40.96-40.96s-18.338-40.96-40.96-40.96-40.96 18.338-40.96 40.96 18.338 40.96 40.96 40.96zm0-440.32c-22.622 0-40.96 18.338-40.96 40.96v225.28c0 22.622 18.338 40.96 40.96 40.96s40.96-18.338 40.96-40.96V378.88c0-22.622-18.338-40.96-40.96-40.96z"/></svg>
        <h2 class="text-[#ef4444] font-bold text-2xl">Oops..!!</h2><p class="text-[#ef4444]"><b>No pending Appointments...!!!</b></p>
  </div></td></tr>`;
    } else appointmentsTable.innerHTML = table;

    totalRecords < endIndex ? (endIndex = totalRecords) : 0;
    let paginationDiv = `
          <div class="font-family pagination-text">Showing ${startIndex + 1
      } to ${endIndex} out of ${totalRecords} Entries</div>
          <div class="page-buttons button-group-pagination">`;
    if (page == 1) {
      paginationDiv += `<input
            class="font-family buttons"
            type="button"
            value="Prev"
            id="prev"
            disabled
            />`;
    } else {
      paginationDiv +=
        `<input
            class="font-family buttons"
            type="button"
            value="Prev"
            id="prev"
            onclick='loadAppointments(` +
        `${page - 1})'
        />`;
    }
    paginationDiv += `<div class="current font-family" id="pid">${page}</div>`;
    if (page != totalPages) {
      paginationDiv +=
        `<input
        class="font-family buttons"
        type="button"
        value="Next"
        id="next"
        onclick='loadAppointments(` +
        `${page + 1})'
        />`;
    } else {
      paginationDiv += `<input
        class="font-family buttons"
        type="button"
        value="Next"
        id="next"
        disabled
      />`;
    }
    paginationDiv += `</div>`;
    document.getElementById("appointment-pagination").innerHTML = paginationDiv;
  };
  const garageChange = async (e, page = 1) => {
    const appointmentsDetails = await callAPI("/owner/appointmentsList/" + e.target.value + `?page=${page}`);
    const appointments = appointmentsDetails.appointments;
    updateTable(appointments, appointmentsDetails.pagination);
    document.getElementById("currentDay").click();
  };

  const loadAppointments = async (page = 1) => {
    let garageId = document.getElementById("garageList").value;
    const appointmentsDetails = await callAPI("/owner/appointmentsList/" + garageId + `?page=${page}`);
    const appointments = appointmentsDetails.appointments;
    updateTable(appointments, appointmentsDetails.pagination);
  };
  (async () => {
    const garageList = await callAPI("/owner/garages/getGaragesList");
    const garages = garageList.garages;
    let options = "";
    garages.forEach((garage) => {
      options += `<option value=${garage.garage_id}>${garage.garage_name}</option>`;
    });
    let select = document.getElementById("garageList");
    select.innerHTML = options;
    select.addEventListener("change", garageChange);
    loadAppointments();
  })();
</script>

<script src="/scripts/calendar.js"></script>