<div class="flex w-full h-full flex-col">
    <div class="w-full flex justify-end">
        <button type="button" class="bg-dark w-max p-4 text-sm px-6 rounded-md mt-4"
            onclick="activeSub('garage-add')">Add
            Garage</button>
    </div>
    <div class="w-full flex-grow  mt-2 -m-2 flex flex-wrap" id="garage-container">

    </div>
</div>
<script src="/scripts/garages.js"></script>