<div class="add-service-container">
  <div class="back-button">
    <p class="add-service-back-button" onclick="showAllServices()">Back</p>
  </div>
  <div class="service-top">
    <h2>Add Service</h2>
    <div class="line"></div>
    <div class="select-service">
      <p>Select Service</p>
    </div>
  </div>
  <div class="add-button" onclick="addService()">
    <img src="/icons/plus.svg" class="plus-icon" />
    <p>Add</p>
  </div>
</div>
