<div class="grid-slot">
    <div class="grid-slot-container">
        <div class="container-heading">
            <h3>New Slot</h3>
            <h4>Slot Information</h4>
            <hr> 
        </div>

        <div class="wrapper">
            <div class="row">
                <div class="col">
                    <div class="form-handler">
                        <div class="form-input-container">
                            <div class="form-label">
                                <label for="date">Date</label>
                            </div>
                            <div class="form-input">
                                <input type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-handler">
                        <div class="form-input-container">
                            <div class="form-label">
                                <label for="date">Start time</label>
                            </div>
                            <div class="form-input">
                                <input type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-handler">
                        <div class="form-input-container">
                            <div class="form-label">
                                <label for="date">End time</label>
                            </div>
                            <div class="form-input">
                                <input type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-handler">
                        <div class="form-input-container">
                            <div class="form-label">
                                <label for="date">Status</label>
                            </div>
                            <div class="form-input">
                                <input type="text" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">

                </div>
                <div class="col">
                    <div class="form-handler">
                        <div class="form-button">
                            <input type="submit" value="+ Add">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>