<div class="add-service-container">
  <h2>Add Service</h2>
  <div class="line"></div>
  <div class="select-service">
    <p>Select Service</p>
  </div>
  <div class="add-button">
    <img src="/icons/plus.svg" class="plus-icon" />
    <p>Add</p>
  </div>
</div>
