<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/styles/output.css" />
</head>

<body>
  <div class="flex overflow-y-hidden mx-auto">
    <div class=" fixed bg-lightbg h-screen w-full overflow-y-hidden">
      <div class="flex bg-dark p-4 w-64 h-48 -ml-28 -mt-20 rotate-[-45deg] justify-center items-end relative">
        <img src="/assets/logo.png" class="rotate-45" alt="logo" height="80px" width="80px">
      </div>
      <div class="bg-white ml-24 pt-10 pb-4 rounded w-[850px]"
        style="box-shadow: 1px 1px 1px  grey, inset 1px 1px rgba(1,1,1,.1);">
        <h2 class="block mb-5 ml-80 text-3xl text-dark">Add new vehicle</h2>
        <div style="background-color: black; height: 1px; max-width: 700px" class="mb-10 ml-24"></div>
        <div class="flex">
          <div class="flex">
            <label for="vehicle-file"
              class="bg-dark ml-56 rounded hover:cursor-pointer block max-w-32 max-h-40 py-11 text-center text-white"><img
                class="m-auto" style="height: 30px;" alt="upload" src="/icons/upload-white.svg"></img> Click here to
              upload
              pic</label>
            <input type="file" id="vehicle-file" name="vehicleImage" hidden />
          </div>
          <div class="ml-10">
            <div class="flex flex-col ml-10">
              <input type="text"
                class="bg-white h-[35px] rounded mb-7 pl-2 border-dark placeholder:text-dark placeholder:opacity-45"
                placeholder="Enter vehicle brand name" name="brand"
                style="box-shadow: 1px 1px 1px  #152533, inset 1px 1px rgba(1,1,1,.3);" />
              <input type="text"
                class="bg-white h-[35px] rounded mb-8 pl-2 placeholder:text-dark placeholder:opacity-45"
                placeholder="Enter vehicle model" name="model"
                style="box-shadow: 1px 1px 1px  #152533, inset 1px 1px rgba(1,1,1,.3);" />
              <input type="text"
                class="bg-white h-[35px] rounded mb-7 pl-2 placeholder:text-dark placeholder:opacity-45"
                placeholder="Enter vehicle model year" name="year"
                style="box-shadow: 1px 1px 1px  #152533, inset 1px 1px rgba(1,1,1,.3);" />
            </div>
          </div>
        </div>
        <div class="ml-56 mt-6 flex flex-col">
          <input type="text" class="bg-white h-[35px] rounded mb-7 pl-2 placeholder:text-dark placeholder:opacity-45"
            placeholder="Enter vehicle number plate" name="numberPlate"
            style="width: 430px; box-shadow: 1px 1px 1px  #152533, inset 1px 1px rgba(1,1,1,.3);" />
          <input type="text" class="bg-white h-[35px] rounded mb-7 pl-2 placeholder:text-dark placeholder:opacity-45"
            placeholder="Enter vehicle description" name="description"
            style="width: 430px; box-shadow: 1px 1px 1px  #152533, inset 1px 1px rgba(1,1,1,.3);" />
          <p class="p-5 py-2 rounded bg-dark max-w-20 hover:cursor-pointer text-white" style="margin-left: 350px;">Save
          </p>
        </div>
      </div>
      <div></div>
    </div>
  </div>
  <div class="absolute right-0 bg-dark p-10 overflow-y-scroll h-full w-[280px]">
    <h2 class="text-white text-3xl">Vehicles List</h2>
    <% if(vehicleData.length!=0) {%>
      <p class="bg-white mt-5 max-w-24 text-center py-2 rounded text-lg ml-32 hover:cursor-pointer">Next</p>
      <% for(let i=0; i<vehicleData.length; i++) {%>
        <div class="bg-light h-28 w-56 mt-5 rounded hover:cursor-pointer flex">
          <div>
            <img src="<%=vehicleData[i].condition_image%>" style="height: 112px; width: 130px; margin-left: -2px;"
              alt="vehicle" class="ml-3" style="height: 90px;">
          </div>
          <div>
            <h3 class="ml-2 pt-2">
              <%=vehicleData[i].brand%>
            </h3>
            <div class="ml-2 mt-5 justify-between">
              <p>
                <%=vehicleData[i].model%>
              </p>
              <p class="mr-1">
                <%=vehicleData[i].year%>
              </p>
            </div>
          </div>
        </div>
        <%}%>
      <%} else {%>
          <p class="text-red mt-10 text-lg">Please Add vehicle</p>
        <%}%>
  </div>
</body>

</html>