<%- include('./head') %>
  <link rel="stylesheet" href="/styles/ownerDashboard.css">
  <link rel="stylesheet" href="/styles/calendar.css">
  </head>
  <% var events=events || [{date: "14-04-2024" , title: "something" }]; %>

    <body>
      <script>
        let events = `<%- JSON.stringify(events) %>`;
      </script>
      <div class=" bg-white w-full min-h-full h-max rounded-md p-4 
      container w-full h-full and other required remove dashboard css" style="display: none;">
        <div class="container">
          <div class="header">
            <div id="month"></div>
            <div>
              <button id="btnBack"><img src="/icons/left.svg" alt="&lt;"></button>
              <button id="btnNext"><img src="/icons/right.svg" alt="&gt;"></button>
            </div>
          </div>
          <div class="weekdays">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
          </div>
          <div id="calendar"></div>
        </div>
        <div id="modal"></div>
        <div id="addEvent">
          <h2>Add Event</h2>
          <input type="text" id="txtTitle" placeholder="Event Title" />
          <button id="btnSave">Save</button>
          <button class="btnClose">Close</button>
        </div>

        <div id="viewEvent">
          <h2>Event</h2>
          <p id="eventText">This is Sample Event</p>
          <button id="btnDelete">Delete</button>
          <button class="btnClose">Close</button>
        </div>

      </div>
      <div class="select-container flex">
        <select name="garage" id="garageList">
          <option value="1">garage 1</option>
          <option value="2">garage 2</option>
        </select>
      </div>
      <div class=" bg-white w-full min-h-full h-max rounded-md p-4 
      container w-full h-full and other required remove dashboard css">
        <table id="appointment-table">
          <thead>
            <tr>
              <th>Customer Name</th>
              <th>Date</th>
              <th>Time Slot</th>
            </tr>
          </thead>
          <tbody id="appointments-table-body">
            <tr>
              <td>John Doe</td>
              <td>Apr 18, 2024</td>
              <td>9:00 AM - 11:00 AM</td>
            </tr>
          </tbody>
        </table>
      </div>
      <script src="js/script.js"></script>
      <script src="/scripts/calendar.js"></script>
      <script>
        const updateTable = (appointments) => {
          let table = "";
          appointments.forEach(appointment => {
            table += `<tr>
              <td>${appointment.customerName}</td>
              <td>${appointment.date}</td>
              <td>${appointment.startTime} - ${appointment.endTime}</td>
            </tr>`;
          });
          document.getElementById('appointments-table-body').innerHTML = table;
        }
        const garageChange = async (e) => {
          const appointmentsDetails = await callAPI('/owner/appointmentsList/' + e.target.value);
          const appointments = appointmentsDetails.appointments;
          updateTable(appointments);
        }
        (async () => {
          const appointmentsDetails = await callAPI('/owner/appointmentsList');
          const appointments = appointmentsDetails.appointments;
          updateTable(appointments);

          const garageList = await callAPI('/owner/garages/getGaragesList');
          const garages = garageList.garages;
          let options = "";
          garages.forEach(garage => {
            options += `<option value=${garage.id}>${garage.garage_name}</option>`;
          });
          let select = document.getElementById('garageList');
          select.innerHTML = options;
          select.addEventListener('change', garageChange);
        })()
      </script>
      <%- include('./foot') %>