<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        dark: '#152533',
                        blue: '#355364',
                        white: '#FFFFFF',
                        light: '#D9D9D9',
                        lightbg: "#d7e0e7",
                        lightorange: 'burlywood',
                        card1bg: 'rgba(255, 225, 200, 0.5)',
                        card1text: '#e96a00',
                        card2bg: 'rgba(225, 246, 247, 0.5)',
                        card2text: '#34cdd0',
                        card3bg: 'rgba(252, 226, 225, 0.5)',
                        card3text: '#df5e5e',
                        card4bg: 'rgba(237, 231, 251, 0.5)',
                        card4text: '#9a78ea'
                    }
                }
            }
        }
    </script>
</head>

<body class="bg-blue">
    <div class="container w-11/12 h-max bg-light mx-auto my-6 rounded-xl overflow-hidden">
        <div class="flex items-center pt-6 px-10 justify-between">
            <div>
                <h3 class="text-3xl font-semibold"><u>Profile</u></h3>
            </div>
            <div class="bg-dark p-1.5 rounded-full cursor-pointer" onclick="setActive('profile-update')">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    style="fill: rgba(255,255,255, 1);">
                    <path
                        d="M8.707 19.707 18 10.414 13.586 6l-9.293 9.293a1.003 1.003 0 0 0-.263.464L3 21l5.242-1.03c.176-.044.337-.135.465-.263zM21 7.414a2 2 0 0 0 0-2.828L19.414 3a2 2 0 0 0-2.828 0L15 4.586 19.414 9 21 7.414z">
                    </path>
                </svg>
            </div>
        </div>
        <div class="wrapper flex px-10 py-5">
            <div class="profile w-1/5 mr-10">
                <img src="/assets/profile.webp" class="h-64 w-64 border-4 border-black rounded-xl" alt="user"
                    id="user_profile_pic">
            </div>
            <div class="profile-info w-4/5">
                <div class="proile-description flex gap-2 items-center ">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            style="fill: rgba(0, 0, 0, 1);">
                            <path
                                d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z">
                            </path>
                        </svg>
                    </div>
                    <div class="description">
                        <!-- Nitin Mujpara -->
                        <p id="name"></p>
                    </div>
                </div>
                <div class="proile-description flex gap-2 items-center">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            style="fill: rgba(0, 0, 0, 1);">
                            <path
                                d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 6.223-8-6.222V6h16zM4 18V9.044l7.386 5.745a.994.994 0 0 0 1.228 0L20 9.044 20.002 18H4z">
                            </path>
                        </svg>
                    </div>
                    <div class="description">
                        <!-- nitin@gmail.com -->
                        <p id="email">nitin@gmail.com</p>
                    </div>
                </div>
                <div class="proile-description flex gap-2 items-center">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            style="fill: rgba(0, 0, 0, 1);">
                            <path
                                d="M11.42 21.815a1.004 1.004 0 0 0 1.16 0C12.884 21.598 20.029 16.44 20 10c0-4.411-3.589-8-8-8S4 5.589 4 9.996c-.029 6.444 7.116 11.602 7.42 11.819zM12 4c3.309 0 6 2.691 6 6.004.021 4.438-4.388 8.423-6 9.731-1.611-1.308-6.021-5.293-6-9.735 0-3.309 2.691-6 6-6z">
                            </path>
                            <path d="M11 14h2v-3h3V9h-3V6h-2v3H8v2h3z"></path>
                        </svg>
                    </div>
                    <div class="description">
                        <p id="address">Unit No 35, Building No 1, Mittal Estate, Kurla Road, J B Nagar, Andheri(e)</p>
                    </div>
                </div>
                <div class="bio pt-3 pl-1">
                    <h4 class="mb-2 text-lg font-bold"><u>Bio</u></h4>
                    <p class="text-justify tracking-wide bio">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                    </p>
                </div>
            </div>
        </div>
        <div class="services px-10 pb-6 overflow-y-auto">
            <h4 class="text-xl font-semibold pb-3"><u>Services</u></h4>
            <table class="w-full text-sm text-left rtl:text-right text-black">
                <thead class="text-xs text-white uppercase bg-blue">
                    <th class="px-6 py-3">Sr.No</th>
                    <th class="px-6 py-3">Vehicle type</th>
                    <th class="px-6 py-3">Model</th>
                    <th class="px-6 py-3">Vehicle Registered No</th>
                    <th class="px-6 py-3">date</th>
                    <th class="px-6 py-3">Service Name</th>
                    <th class="px-6 py-3">Status</th>
                    <th class="px-6 py-3">Amount</th>
                </thead>
                <tbody></tbody>

            </table>
        </div>
    </div>


</body>

</html>