<div class="section3">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="wrapper">
                    <div class="row">
                        <div class="col">
                            <div class="card-container">
                                <div class="card-wrapper">
                                    <div class="row">
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-icon">
                                                    <img src="/icons/profile">
                                                </div>
                                                 <div class="card-count">
                                                    368
                                                </div>
                                                <div class="card-title">
                                                    Garages
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>