<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<div class="flex w-full h-full">
    <div class="w-4/5">
        <div class="w-full flex flex-wrap h-max">
            <div class="w-1/3">
                <div
                    class="card flex flex-col justify-center items-center cursor-pointer rounded-md px-[20px] py-[25px] mr-3 mb-3 bg-card1bg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                        class="w-[50px] h-[50px] fill-card1text">
                        <path
                            d="M3 19.723V21a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1h12v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1.277A1.99 1.99 0 0 0 22 18v-3c0-.831-.507-1.542-1.228-1.845l-1.368-4.104A2.995 2.995 0 0 0 16.559 7H7.441a2.995 2.995 0 0 0-2.845 2.051l-1.368 4.104A2.001 2.001 0 0 0 2 15v3c0 .738.404 1.376 1 1.723zM5.5 18a1.5 1.5 0 1 1 .001-3.001A1.5 1.5 0 0 1 5.5 18zm13 0a1.5 1.5 0 1 1 .001-3.001A1.5 1.5 0 0 1 18.5 18zM7.441 9h9.117a1 1 0 0 1 .949.684L18.613 13H5.387l1.105-3.316c.137-.409.519-.684.949-.684z">
                        </path>
                        <path
                            d="M22 7.388V5.279l-9.684-3.228a.996.996 0 0 0-.658.009L2 5.572V7.7l10.015-3.642L22 7.388z">
                        </path>
                    </svg>
                    <strong class="count text-blue" id="garageCount">368</strong>
                    <p class="text-card1text font-semibold tracking-wide">Garages</p>
                </div>
            </div>
            <div class="w-1/3">
                <div
                    class="card flex flex-col justify-center items-center cursor-pointer rounded-md px-[20px] py-[25px] mr-3 mb-3 bg-card2bg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                        class="w-[50px] h-[50px] fill-card2text">
                        <path style="fill:var(--card2-text)"
                            d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 2a2 2 0 0 0-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2m0 7c2.67 0 8 1.33 8 4v3H4v-3c0-2.67 5.33-4 8-4m0 1.9c-2.97 0-6.1 1.46-6.1 2.1v1.1h12.2V17c0-.64-3.13-2.1-6.1-2.1" />
                    </svg>
                    <strong class="count text-blue" id="customerCount">2368</strong>
                    <p class="text-card2text font-semibold tracking-wide">Customers</p>
                </div>
            </div>
            <div class="w-1/3">
                <div
                    class="card flex flex-col justify-center items-center cursor-pointer rounded-md px-[20px] py-[25px] mr-3 mb-3 bg-card3bg">
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117.48 122.88"
                        class="w-[50px] h-[50px] fill-card3text">
                        <path
                            d="M76.28,85V81.12l-5.59-2.29L58.85,91.71H55.56L43.72,78.83l-5.59,2.29V112h-4.4v-29l-8.34,3.41v25.62H21V88.11l-6.07,2.48a21.43,21.43,0,0,0-7.55,6.54,17.81,17.81,0,0,0-3,8.85v6H0v-6H0a.61.61,0,0,1,0-.14,22,22,0,0,1,3.72-11A25.85,25.85,0,0,1,12.8,86.9c.1-.06.2-.1.3-.15L41.85,75V66.59q-.43-.37-.84-.78c-4-4-6.71-9.84-7.48-18.72l-1.45-1.48a2.06,2.06,0,0,1-.72-1.55V40.61h4.39v2.61l1.49,1.51a2,2,0,0,1,.6,1.31h0c.59,8.21,2.89,13.47,6.3,16.84S52,67.7,57.06,68.49A20.73,20.73,0,0,0,70,61.67c3.31-3.84,5.3-9.15,5.92-15.65a2,2,0,0,1,.46-1.09h0l1.34-1.65,0-2.82,4.38,0,0,3.38a2.07,2.07,0,0,1-.46,1.45l-1.4,1.73C79.4,54.11,77.1,60,73.34,64.35a22,22,0,0,1-1.77,1.84v8.44l11.48,4.69a23,23,0,0,1,11.18-2.88h0a23.23,23.23,0,0,1,20.15,34.77V112H114A23.22,23.22,0,1,1,76.28,85Zm27.46,3.76a1.38,1.38,0,0,0-2,0l-1.53,1.52a10.65,10.65,0,0,0-1.29-.69c-.45-.2-.92-.38-1.38-.54V86.63a1.4,1.4,0,0,0-1.39-1.39h-3a1.42,1.42,0,0,0-1.4,1.4V88.8a10.14,10.14,0,0,0-1.42.44,10.52,10.52,0,0,0-1.32.61l-1.69-1.67a1.31,1.31,0,0,0-1-.42h0a1.38,1.38,0,0,0-1,.42l-2.08,2.07a1.4,1.4,0,0,0,0,2l1.53,1.53a10.65,10.65,0,0,0-.69,1.29,14.59,14.59,0,0,0-.54,1.38H81.21a1.38,1.38,0,0,0-1.38,1.39v2.94h0a1.39,1.39,0,0,0,.41,1,1.32,1.32,0,0,0,1,.42h2.17A12.78,12.78,0,0,0,84.43,105l-1.67,1.67a1.29,1.29,0,0,0-.42.94v0h0a1.38,1.38,0,0,0,.42,1l2.07,2.07a1.5,1.5,0,0,0,1,.39,1.48,1.48,0,0,0,1-.39l1.52-1.56a8.54,8.54,0,0,0,1.3.69,11.6,11.6,0,0,0,1.38.54v2.35a1.38,1.38,0,0,0,1.38,1.38h2.94a1.38,1.38,0,0,0,1.38-1.38v-2.11a11.62,11.62,0,0,0,1.42-.43c.47-.18.92-.39,1.39-.61l1.66,1.67a1.28,1.28,0,0,0,1,.42h0a1.32,1.32,0,0,0,1-.42l2.07-2.07a1.49,1.49,0,0,0,0-2l-1.55-1.52a10.78,10.78,0,0,0,.69-1.3q.3-.68.54-1.38h2.36a1.39,1.39,0,0,0,1-.41,1.36,1.36,0,0,0,.41-1v-3h0a1.42,1.42,0,0,0-1.39-1.4h-2.16a13.81,13.81,0,0,0-.44-1.38,13.28,13.28,0,0,0-.61-1.33l1.67-1.69a1.29,1.29,0,0,0,.42-1h0a1.4,1.4,0,0,0-.42-1l-2.07-2.07,0,0Zm-4.11,8.85,0,0v.07h0v0a6,6,0,0,1,.35,2,5.79,5.79,0,0,1-.45,2.25,5.74,5.74,0,0,1-5.3,3.51A5.79,5.79,0,0,1,92,105a5.72,5.72,0,0,1-3-2.87l0-.06a5.76,5.76,0,1,1,10.6-4.52ZM47.72,6.18A1.91,1.91,0,0,1,47,6.07c-6.4,2.86-11.57,9.14-13,19.61a2.18,2.18,0,0,1-2.45,1.82,2.12,2.12,0,0,1-1.9-2.34c1.64-12.2,7.9-19.57,15.64-23A26.94,26.94,0,0,1,57.67.05,30.21,30.21,0,0,1,69.78,3.36c7.92,4.11,14,11.78,14.39,22a2.13,2.13,0,0,1-2.1,2.19,2.15,2.15,0,0,1-2.28-2A21.59,21.59,0,0,0,67.7,7.08l-.87-.43a2.2,2.2,0,0,1-.78.12c-2,0-2.51,3.5-2.63,8.29-.06,2.14,0,4.5,0,6.91,0,1.92.08,3.88.08,5.18a2.18,2.18,0,0,1-4.36,0c0-2.12,0-3.63-.06-5.11,0-2.47-.09-4.87,0-7.09.11-4.32.62-8,2.2-10.17a25.21,25.21,0,0,0-3.86-.52,23.89,23.89,0,0,0-4.86.21c1.45,2.25,1.95,5.86,2.06,10.09.05,2.29,0,4.79,0,7.35,0,1.53-.06,3.08-.06,5.24a2.12,2.12,0,0,1-4.24,0c0-1.35,0-3.34.07-5.31,0-2.51.1-5,0-7.17-.11-4.91-.64-8.54-2.67-8.49Zm-1.47,63.4v5.61l11,11.93,10-10.86V69.42a27.56,27.56,0,0,1-9.72,3.27,2.23,2.23,0,0,1-.73,0,32.71,32.71,0,0,1-10.48-3.12ZM29.87,28a8.2,8.2,0,0,0,3.18,3.22c4.87,3,13.44,4.51,22.28,4.54s18-1.43,23.84-4.19a11.55,11.55,0,0,0,4.91-3.77l3.76,2.16a15.59,15.59,0,0,1-6.73,5.38c-6.43,3.05-16.24,4.64-25.79,4.62s-19.06-1.72-24.66-5.22a12.32,12.32,0,0,1-4.78-5l4-1.74ZM54.12,96h5.32v5.12H54.12V96Zm0,10.51h5.32v5.12H54.12V106.5Z" />
                    </svg>
                    <strong class="count text-blue" id="staffCount">10</strong>
                    <p class="text-card3text font-semibold tracking-wide">Staff Members</p>
                </div>
            </div>
            <div class="w-1/3">
                <div
                    class="card flex flex-col justify-center items-center cursor-pointer rounded-md px-[20px] py-[25px] mr-3 mb-3 bg-blue-200">
                    <strong class="count text-blue" id="serviceCount">6368</strong>
                    <p class="text-blue-600 font-semibold tracking-wide">Services</p>
                </div>
            </div>
            <div class="w-1/3">
                <div
                    class="card flex flex-col justify-center items-center cursor-pointer rounded-md px-[20px] py-[25px] mr-3 mb-3 bg-card4bg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                        class="w-[50px] h-[50px] fill-purple-900">
                        <path fill="var(--card4-text)"
                            d="M27.781 5.738c.293.293.292.801-.003 1.223l-4.504 6.449c-.4.575-1.162.741-1.562.342l-.939-.94l-1.078 1.078l-1.565-1.564l1.078-1.078l-.939-.94c-.4-.4-.234-1.161.341-1.562l6.45-4.504c.421-.294.93-.295 1.223-.002zm-16.237 11.61l3.13 3.13l-7.2 7.2a1.11 1.11 0 0 1-1.566 0l-1.564-1.566a1.109 1.109 0 0 1 0-1.565zm16.112 7.33a1.109 1.109 0 0 1 0 1.564l-1.413 1.414a1.108 1.108 0 0 1-1.566 0L11.181 14.16c-1.607.633-3.491.441-4.926-.574a5.26 5.26 0 0 1-2.15-5.368c.082-.402.593-.543.883-.252l2.039 2.04c.41.41 1.08.41 1.489 0l1.49-1.49c.41-.409.41-1.079 0-1.489L7.97 4.99c-.294-.294-.145-.807.262-.888a5.25 5.25 0 0 1 4.751 1.435a5.26 5.26 0 0 1 1.173 5.641z" />
                    </svg>
                    <strong class="count text-blue" id="serviceCount">6368</strong>
                    <p class="text-purple-900 font-semibold tracking-wide">Services</p>
                </div>
            </div>
            <div class="w-1/3">
                <div
                    class="card flex flex-col justify-center items-center cursor-pointer rounded-md px-[20px] py-[25px] mr-3 mb-3 bg-green-200">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                        class="w-[50px] h-[50px] fill-green-600">
                        <path fill="var(--card4-text)"
                            d="M27.781 5.738c.293.293.292.801-.003 1.223l-4.504 6.449c-.4.575-1.162.741-1.562.342l-.939-.94l-1.078 1.078l-1.565-1.564l1.078-1.078l-.939-.94c-.4-.4-.234-1.161.341-1.562l6.45-4.504c.421-.294.93-.295 1.223-.002zm-16.237 11.61l3.13 3.13l-7.2 7.2a1.11 1.11 0 0 1-1.566 0l-1.564-1.566a1.109 1.109 0 0 1 0-1.565zm16.112 7.33a1.109 1.109 0 0 1 0 1.564l-1.413 1.414a1.108 1.108 0 0 1-1.566 0L11.181 14.16c-1.607.633-3.491.441-4.926-.574a5.26 5.26 0 0 1-2.15-5.368c.082-.402.593-.543.883-.252l2.039 2.04c.41.41 1.08.41 1.489 0l1.49-1.49c.41-.409.41-1.079 0-1.489L7.97 4.99c-.294-.294-.145-.807.262-.888a5.25 5.25 0 0 1 4.751 1.435a5.26 5.26 0 0 1 1.173 5.641z" />
                    </svg>
                    <strong class="count text-blue" id="serviceCount">6368</strong>
                    <p class="text-green-600 font-semibold tracking-wide">Services</p>
                </div>
            </div>
        </div>
        <div class="w-full h-1/2 pr-3">
            <div class="relative rounded-md h-full w-full bg-white p-4">
                <div class="flex flex-column sm:flex-row flex-wrap items-center justify-between pb-4">
                    <div class="w-max">
                        <button id="dropdownRadioButton" data-dropdown-toggle="dropdownRadio"
                            class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 w-full"
                            type="button">
                            <svg class="w-3 h-3 text-gray-500 dark:text-gray-400 me-3" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path
                                    d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z" />
                            </svg>
                            Last 30 days
                            <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 1 4 4 4-4" />
                            </svg>
                        </button>
                        <!-- Dropdown menu -->
                        <div id="dropdownRadio"
                            class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
                            data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="top"
                            style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate3d(522.5px, 3847.5px, 0px);">
                            <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200"
                                aria-labelledby="dropdownRadioButton">
                                <li>
                                    <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                        <input id="filter-radio-example-1" type="radio" value="" name="filter-radio"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="filter-radio-example-1"
                                            class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">Last
                                            day</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                        <input checked="" id="filter-radio-example-2" type="radio" value=""
                                            name="filter-radio"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="filter-radio-example-2"
                                            class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">Last
                                            7
                                            days</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                        <input id="filter-radio-example-3" type="radio" value="" name="filter-radio"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="filter-radio-example-3"
                                            class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">Last
                                            30
                                            days</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                        <input id="filter-radio-example-4" type="radio" value="" name="filter-radio"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="filter-radio-example-4"
                                            class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">Last
                                            month</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                        <input id="filter-radio-example-5" type="radio" value="" name="filter-radio"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="filter-radio-example-5"
                                            class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">Last
                                            year</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <label for="table-search" class="sr-only">Search</label>
                    <div class="relative">
                        <div
                            class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <input type="text" id="table-search"
                            class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Search for items">
                    </div>
                </div>
                <table class="w-full text-sm text-left  text-gray-500 dark:text-gray-400 overflow-y-auto">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="p-4">
                                <div class="flex items-center">
                                    <input id="checkbox-all-search" type="checkbox"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="checkbox-all-search" class="sr-only">checkbox</label>
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Product name
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Color
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Category
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Price
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody class="h-[200px] overflow-y-scroll bg-dark">
                        <tr
                            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td class="w-4 p-4">
                                <div class="flex items-center">
                                    <input id="checkbox-table-search-1" type="checkbox"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                                </div>
                            </td>
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                Apple MacBook Pro 17"
                            </th>
                            <td class="px-6 py-4">
                                Silver
                            </td>
                            <td class="px-6 py-4">
                                Laptop
                            </td>
                            <td class="px-6 py-4">
                                $2999
                            </td>
                            <td class="px-6 py-4">
                                <a href="#"
                                    class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                        </tr>
                        <tr
                            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td class="w-4 p-4">
                                <div class="flex items-center">
                                    <input id="checkbox-table-search-2" type="checkbox"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="checkbox-table-search-2" class="sr-only">checkbox</label>
                                </div>
                            </td>
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                Microsoft Surface Pro
                            </th>
                            <td class="px-6 py-4">
                                White
                            </td>
                            <td class="px-6 py-4">
                                Laptop PC
                            </td>
                            <td class="px-6 py-4">
                                $1999
                            </td>
                            <td class="px-6 py-4">
                                <a href="#"
                                    class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                        </tr>
                        <tr
                            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td class="w-4 p-4">
                                <div class="flex items-center">
                                    <input id="checkbox-table-search-3" type="checkbox"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="checkbox-table-search-3" class="sr-only">checkbox</label>
                                </div>
                            </td>
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                Magic Mouse 2
                            </th>
                            <td class="px-6 py-4">
                                Black
                            </td>
                            <td class="px-6 py-4">
                                Accessories
                            </td>
                            <td class="px-6 py-4">
                                $99
                            </td>
                            <td class="px-6 py-4">
                                <a href="#"
                                    class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                        </tr>
                        <tr
                            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td class="w-4 p-4">
                                <div class="flex items-center">
                                    <input id="checkbox-table-3" type="checkbox"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="checkbox-table-3" class="sr-only">checkbox</label>
                                </div>
                            </td>
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                Apple Watch
                            </th>
                            <td class="px-6 py-4">
                                Silver
                            </td>
                            <td class="px-6 py-4">
                                Accessories
                            </td>
                            <td class="px-6 py-4">
                                $179
                            </td>
                            <td class="px-6 py-4">
                                <a href="#"
                                    class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                        </tr>
                        <tr
                            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td class="w-4 p-4">
                                <div class="flex items-center">
                                    <input id="checkbox-table-3" type="checkbox"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="checkbox-table-3" class="sr-only">checkbox</label>
                                </div>
                            </td>
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                Apple Watch
                            </th>
                            <td class="px-6 py-4">
                                Silver
                            </td>
                            <td class="px-6 py-4">
                                Accessories
                            </td>
                            <td class="px-6 py-4">
                                $179
                            </td>
                            <td class="px-6 py-4">
                                <a href="#"
                                    class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                        </tr>
                        <tr
                            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td class="w-4 p-4">
                                <div class="flex items-center">
                                    <input id="checkbox-table-3" type="checkbox"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="checkbox-table-3" class="sr-only">checkbox</label>
                                </div>
                            </td>
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                Apple Watch
                            </th>
                            <td class="px-6 py-4">
                                Silver
                            </td>
                            <td class="px-6 py-4">
                                Accessories
                            </td>
                            <td class="px-6 py-4">
                                $179
                            </td>
                            <td class="px-6 py-4">
                                <a href="#"
                                    class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="1/5 h-full">
        <div
            class="w-full flex justify-center items-center rounded-lg shadow-sm border-[rgba(255,255,255,.2)] border-2">
            <div class=" bg-white rounded-lg shadow dark:bg-gray-800 p-4 pb-10">
                <div class="flex justify-between mb-3 w-full">
                    <div class="flex items-center w-full">
                        <div class="flex justify-center items-center">
                            <h5 class="text-xl font-bold leading-none text-dark  pe-1">Your team's
                                progress</h5>
                            <svg data-popover-target="chart-info" data-popover-placement="bottom"
                                class="w-3.5 h-3.5 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white cursor-pointer ms-1"
                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                viewBox="0 0 20 20">
                                <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z" />
                            </svg>
                            <div data-popover id="chart-info" role="tooltip"
                                class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
                                <div class="p-3 space-y-2">
                                    <h3 class="font-semibold text-gray-900 dark:text-white">Activity growth -
                                        Incremental</h3>
                                    <p>Report helps navigate cumulative growth of community activities. Ideally, the
                                        chart should
                                        have a growing trend, as stagnating chart signifies a significant decrease of
                                        community
                                        activity.</p>
                                    <h3 class="font-semibold text-gray-900 dark:text-white">Calculation</h3>
                                    <p>For each date bucket, the all-time volume of activities is calculated. This means
                                        that
                                        activities in period n contain all activities up to period n, plus the
                                        activities generated
                                        by your community in period.</p>
                                    <a href="#"
                                        class="flex items-center font-medium text-blue-600 dark:text-blue-500 dark:hover:text-blue-600 hover:text-blue-700 hover:underline">Read
                                        more <svg class="w-2 h-2 ms-1.5 rtl:rotate-180" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="m1 9 4-4-4-4" />
                                        </svg></a>
                                </div>
                                <div data-popper-arrow></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rounded-lg w-full">
                    <div class="grid  grid-cols-3 gap-3 mb-2 p-2 w-full">
                        <dl
                            class="bg-orange-50 dark:bg-gray-600 rounded-lg flex flex-col items-center justify-center h-[78px]">
                            <dt
                                class="w-8 h-8 rounded-full bg-orange-100 dark:bg-gray-500 text-orange-600 dark:text-orange-300 text-sm font-medium flex items-center justify-center mb-1">
                                12</dt>
                            <dd class="text-orange-600 dark:text-orange-300 text-sm font-medium">To do</dd>
                        </dl>
                        <dl
                            class="bg-teal-50 dark:bg-gray-600 rounded-lg flex flex-col items-center justify-center h-[78px]">
                            <dt
                                class="w-8 h-8 rounded-full bg-teal-100 dark:bg-gray-500 text-teal-600 dark:text-teal-300 text-sm font-medium flex items-center justify-center mb-1">
                                23</dt>
                            <dd class="text-teal-600 dark:text-teal-300 text-sm font-medium">In progress</dd>
                        </dl>
                        <dl
                            class="bg-blue-50 dark:bg-gray-600 rounded-lg flex flex-col items-center justify-center h-[78px]">
                            <dt
                                class="w-8 h-8 rounded-full bg-blue-100 dark:bg-gray-500 text-blue-600 dark:text-blue-300 text-sm font-medium flex items-center justify-center mb-1">
                                64</dt>
                            <dd class="text-blue-600 dark:text-blue-300 text-sm font-medium">Done</dd>
                        </dl>
                    </div>

                </div>

                <!-- Radial Chart -->
                <div class="py-6" id="radial-chart"></div>

                <div
                    class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
                    <div class="flex justify-between items-center pt-5">
                        <!-- Button -->
                        <button id="dropdownDefaultButton" data-dropdown-toggle="lastDaysdropdown"
                            data-dropdown-placement="bottom"
                            class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
                            type="button">
                            Last 7 days
                            <svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 1 4 4 4-4" />
                            </svg>
                        </button>
                        <div id="lastDaysdropdown"
                            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                                aria-labelledby="dropdownDefaultButton">
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Yesterday</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Today</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last
                                        7 days</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last
                                        30 days</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last
                                        90 days</a>
                                </li>
                            </ul>
                        </div>
                        <a href="#"
                            class="uppercase text-sm font-semibold inline-flex items-center rounded-lg text-blue-600 hover:text-blue-700 dark:hover:text-blue-500  hover:bg-gray-100 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 px-3 py-2">
                            Progress report
                            <svg class="w-2.5 h-2.5 ms-1.5 rtl:rotate-180" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 9 4-4-4-4" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    const getChartOptions = () => {
        return {
            series: [90, 85, 70],
            colors: ["#1C64F2", "#16BDCA", "#FDBA8C"],
            chart: {
                height: "380px",
                width: "100%",
                type: "radialBar",
                sparkline: {
                    enabled: true,
                },
            },
            plotOptions: {
                radialBar: {
                    track: {
                        background: '#E5E7EB',
                    },
                    dataLabels: {
                        show: false,
                    },
                    hollow: {
                        margin: 0,
                        size: "32%",
                    }
                },
            },
            grid: {
                show: false,
                strokeDashArray: 4,
                padding: {
                    left: 2,
                    right: 2,
                    top: -23,
                    bottom: -20,
                },
            },
            labels: ["Done", "In progress", "To do"],
            legend: {
                show: true,
                position: "bottom",
                fontFamily: "Inter, sans-serif",
            },
            tooltip: {
                enabled: true,
                x: {
                    show: false,
                },
            },
            yaxis: {
                show: false,
                labels: {
                    formatter: function (value) {
                        return value + '%';
                    }
                }
            }
        }
    }

    if (document.getElementById("radial-chart") && typeof ApexCharts !== 'undefined') {
        const chart = new ApexCharts(document.querySelector("#radial-chart"), getChartOptions());
        chart.render();
    }

</script>
<script>
    let positive = 12;
    let negative = 19;
    const getOwnerData = async () => {
        const garages = await callAPI('/owner/garages/count');
        animateNumber(garages.garageCount, 2, "garageCount");
        const services = await callAPI('/owner/services/count');
        animateNumber(services.serviceCount || 0, 2, "serviceCount");
        const appointments = await callAPI('/owner/appointmentCount');
        positive = appointments.successCount;
        negative = appointments.totalCount - appointments.successCount;
    };
    (async () => {
        await getOwnerData();
    })();
    function animateNumber(targetNumber, durationSeconds, elementId) {
        var startNumber = 0; // Initial number
        var durationMilliseconds = durationSeconds * 100; // Convert seconds to milliseconds
        var increment = Math.ceil((targetNumber - startNumber) / durationMilliseconds); // Calculate increment per millisecond
        var countElement = document.getElementById(elementId);
        var currentNumber = startNumber;

        const animate = () => {
            currentNumber += increment;
            countElement.textContent = currentNumber;
            if (currentNumber < targetNumber) {
                requestAnimationFrame(animate);
            }
        }
        animate();
    }
    animateNumber(2368, 2, "customerCount");
    animateNumber(10, 20000, "staffCount");
</script>