<div class="grid">
    <div class="grid-container">
        <div class="wrapper">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-icon">
                            <img src="/assets/garage.png" alt="garage img">
                        </div>
                        <div class="card-containt">
                            <div class="card-heading">
                                <div class="card-title">
                                    <h4>Sahayak Garage</h4>
                                </div>
                                <div class="card-btn">
                                    <button>Open</button>
                                </div>
                            </div>
                            <div class="card-columns">
                                <div class="card-description">
                                    <div class="card-description-icon">
                                        <img src="/icons/mail.svg">
                                    </div>
                                    <div class="card-head">
                                        <p>Sahayak.garage@gmail.com</p>
                                    </div>
                                </div>
                                <div class="card-description">
                                    <div class="card-description-icon">
                                        <img src="/icons/call.svg">
                                    </div>
                                    <div class="card-head">
                                        <p>+91 1234512345</p>
                                    </div>
                                </div>
                                <div class="card-description">
                                    <div class="card-description-icon">
                                        <img src="/icons/calendar.svg">
                                    </div>
                                    <div class="card-head">
                                        <p>10:00 a.m to 9:00 p.m</p>
                                    </div>
                                </div>
                                <div class="card-description">
                                    <div class="card-description-icon">
                                        <img src="/icons/location.svg">
                                    </div>
                                    <div class="card-head">
                                        <p>sahayak garage is available for 24X7 in your service. 
                                            we provide multiple services that will increase your vehicle's 
                                            health.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-icon">
                            <img src="/assets/garage.png" alt="garage img">
                        </div>
                        <div class="card-containt">
                            <div class="card-heading">
                                <div class="card-title">
                                    <h4>Sahayak Garage</h4>
                                </div>
                                <div class="card-btn">
                                    <button>Open</button>
                                </div>
                            </div>
                            <div class="card-columns">
                                <div class="card-description">
                                    <div class="card-description-icon">
                                        <img src="/icons/mail.svg">
                                    </div>
                                    <div class="card-head">
                                        <p>Sahayak.garage@gmail.com</p>
                                    </div>
                                </div>
                                <div class="card-description">
                                    <div class="card-description-icon">
                                        <img src="/icons/call.svg">
                                    </div>
                                    <div class="card-head">
                                        <p>+91 1234512345</p>
                                    </div>
                                </div>
                                <div class="card-description">
                                    <div class="card-description-icon">
                                        <img src="/icons/calendar.svg">
                                    </div>
                                    <div class="card-head">
                                        <p>10:00 a.m to 9:00 p.m</p>
                                    </div>
                                </div>
                                <div class="card-description">
                                    <div class="card-description-icon">
                                        <img src="/icons/location.svg">
                                    </div>
                                    <div class="card-head">
                                        <p>sahayak garage is available for 24X7 in your service. 
                                            we provide multiple services that will increase your vehicle's 
                                            health.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>