<div class="section1">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header">
                    <div class="module-title">
                        Dashboard
                    </div>
                    <div class="header-profile">
                        <div class="header-title">
                            Sahayak garage 
                        </div>
                        <div class="header-img">
                            <img src="/assets/Vector.svg" height="30px" width="30px" alt="user logo">
                        </div>
                    </div>
                    <div class="header-notification">
                        <img src="/assets/Group 26.svg" height="40px" width="40px" alt="notification logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <%- include('dashboard') %> -->