<nav class="fixed top-0 flex w-full items-center justify-between bg-dark py-2 shadow-dark-mild px-4">
  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <div>
      <a href="/">
        <img class="garage-logo w-[50px]" src="/assets/logo.png" alt="garage logo">
      </a>
    </div>

    <div class="relative flex items-center gap-4">
      <a class="me-2 bg-white text-dark text-lg p-2 rounded-md" href="/u">
        Register
      </a>
      <a class="me-2 bg-white text-dark text-lg p-2 rounded-md" href="/u/signIn">
        Login
      </a>
    </div>
  </div>
</nav>