<div class="grid">
    <div class="profile-wrapper">
        <div class="profile-row">
            <div class="profile-col">
                <div class="profile-container">
                    <div class="user-profile">
                        <div class="user-img">
                            <img src="/assets/Rectangle 21.png" alt="user-Profile">
                        </div>
                        <div class="user-title">
                            <h3>Mohan Bhagat</h3>
                            <p>(Owner)</p>
                        </div>
                    </div>
                    <div class="user-contact">
                        <div class="contact-header">
                            <div class="contact-heading">
                                <h4>contact details</h4>
                            </div>
                            <div class="contact-icon">
                                <img src="/icons/pencil.svg" style="background-color: #182B3B;">
                            </div>
                        </div>
                        <div class="contact-information">
                            <div class="contact-columns">
                                <div class="contact-columns-icons">
                                    <img src="/icons/mail.svg">
                                </div>
                                <div class="contact-columns-description">
                                    abcd@gmail.com
                                </div>
                            </div>
                            <div class="contact-columns">
                                <div class="contact-columns-icons">
                                    <img src="/icons/location.svg">
                                </div>
                                <div class="contact-columns-description">
                                    Chinaswami Stadium near bandra, mumbai, Australia
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-col">
                <div class="bio-container">
                    <div class="bio-header">
                        <div class="bio-title">
                            <h3>Bio</h3>
                        </div>
                        <div class="bio-icon">
                            <img src="/icons/pencil.svg">
                        </div>
                    </div>
                    <div class="bio-content">
                        Lorem Ipsum is simply dummy text of the printing and  
                        typesetting industry.Lorem Ipsum has been the industry's 
                        standard dummy text ever since the 1500s, when an unknown 
                        printer took a galley of type and scrambled it to make a 
                        type specimen book. It has survived not only five centuries, 
                        but also the leap into electronic typesetting, remaining essentially
                        unchanged. It was popularised in the 1960s with the release of Letraset 
                        sheets containing Lorem Ipsum passages,and more recently with desktop 
                        publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>