<div class="sidebar">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="brand">
                    <div class="brand-img">
                        <img src="/assets/logo.png" alt="brand-logo">        
                    </div>
                    <div class="brand-name">
                        Garage Management System
                    </div>
                </div>
                <div class="menus">
                    <ul>
                        <li><i><a>Dashboard</a></i></li>
                        <li><i><a>Profile</a></i></li>
                        <li><i><a>garages</a></i></li>
                        <li><i><a>Services</a></i></li>
                        <li><i><a>Manage Slots</a></i></li>
                        <li><i><a>Appointment</a></i></li>
                        <li><i><a>Inventory</a></i></li>
                        <li><i><a>Invoice</a></i></li>
                        <li><i><a>Logout</a></i></li>
                    </ul>
                </div>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
</div>