<div class="sidebar min-h-full h-max min-w-[250px] bg-dark" id="sidebar">
  <div class="row mb-5">
    <div class="col">
      <div class="brand flex flex-col justify-center items-center w-full">
        <img src="/assets/logo.png" alt="brand-logo" class="img-center w-[100px]" />
        <p class="text-white font-bold tracking-wider text-sm">
          Garage Management System
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="menus">
        <ul class="p-2">
          <li id="dashboard"
            class="flex items-center justify-between w-full rounded-md text-white opacity-50 hover:opacity-100 p-4 transition duration-500 cursor-pointer">
            <img class="w-[25px]" src="/icons/dashboard.svg" />
            <p class="w-[80%] text-left">Dashboard</p>
          </li>
          <li id="profile"
            class="flex items-center justify-between w-full rounded-md text-white opacity-50 hover:opacity-100 p-4 transition duration-500 cursor-pointer">
            <img class="w-[25px]" src="/icons/user-outline.svg" />
            <p class="w-[80%] text-left">Profile</p>
          </li>
          <li id="garages"
            class="flex items-center justify-between w-full rounded-md text-white opacity-50 hover:opacity-100 p-4 transition duration-500 cursor-pointer">
            <img class="w-[25px]" src="/icons/garage.svg" />
            <p class="w-[80%] text-left">Garages</p>
          </li>
          <li id="services"
            class="flex items-center justify-between w-full rounded-md text-white opacity-50 hover:opacity-100 p-4 transition duration-500 cursor-pointer">
            <img class="w-[25px]" src="/icons/service.svg" />
            <p class="w-[80%] text-left">Services</p>
          </li>
          <li id="slots"
            class="flex items-center justify-between w-full rounded-md text-white opacity-50 hover:opacity-100 p-4 transition duration-500 cursor-pointer">
            <img class="w-[25px]" src="/icons/calendar.svg" />
            <p class="w-[80%] text-left">Slots</p>
          </li>
          <li id="appointment"
            class="flex items-center justify-between w-full rounded-md text-white opacity-50 hover:opacity-100 p-4 transition duration-500 cursor-pointer">
            <img class="w-[25px]" src="/icons/appointment.svg" />
            <p class="w-[80%] text-left">Appointments</p>
          </li>
          <li id="tasks"
            class="flex items-center justify-between w-full rounded-md text-white opacity-50 hover:opacity-100 p-4 transition duration-500 cursor-pointer">
            <img class="w-[25px]" src="/icons/task.svg" />
            <p class="w-[80%] text-left">Tasks</p>
          </li>
          <li id="invoice"
            class="flex items-center justify-between w-full rounded-md text-white opacity-50 hover:opacity-100 p-4 transition duration-500 cursor-pointer">
            <img class="w-[25px]" src="/icons/invoice.svg" />
            <p class="w-[80%] text-left">Invoice</p>
          </li>
          <li id="logout"
            class="flex items-center justify-between w-full rounded-md text-white opacity-50 hover:opacity-100 p-4 transition duration-500 cursor-pointer">
            <img class="w-[25px]" src="/icons/logout.svg" />
            <p class="w-[80%] text-left">Logout</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>