<div class="sidebar">
    <div class="row">
        <div class="col">
            <div class="brand">
                <img src="/assets/logo.png" alt="brand-logo">
                <p class="title">Garage Management System</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="menus">
                <ul>
                    <li id="Dashboard"><img src="/icons/dashboard.svg" />
                        <p>Dashboard</p>
                    </li>
                    <li id="Profile"><img src="/icons/user-outline.svg" />
                        <p>Profile</p>
                    </li>
                    <li id="Garages"><img src="/icons/garage.svg" />
                        <p>Garages</p>
                    </li>
                    <li id="Services"><img src="/icons/service.svg" />
                        <p>Services</p>
                    </li>
                    <li id="Slots"><img src="/icons/calender.svg" />
                        <p>Slots</p>
                    </li>
                    <li id="Appointment"><img src="/icons/" />
                        <p>Appointments</p>
                    </li>
                    <li id="Inventory"><img src="/icons/inventory.svg" />
                        <p>Inventory</p>
                    </li>
                    <li id="Invoice"><img src="/icons/invoice.svg" />
                        <p>Invoice</p>
                    </li>
                    <li id="Logout"><img src="/icons/logout.svg" />
                        <p>Logout</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelector(`li[id=<%= active %>]`).style.opacity = 1
</script>