<div class="sidebar">
    <div class="row">
        <div class="col">
            <div class="brand">
                <img src="/assets/logo.png" alt="brand-logo">
                <p>Garage Management System</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="menus">
                <ul>
                    <li id="dashboard"><img src="/icons/dashboard.svg" />
                        <p>Dashboard</p>
                    </li>
                    <li id="profile"><img src="/icons/user-outline.svg" />
                        <p>Profile</p>
                    </li>
                    <li id="garages"><img src="/icons/garage.svg" />
                        <p>Garages</p>
                    </li>
                    <li id="services"><img src="/icons/service.svg" />
                        <p>Services</p>
                    </li>
                    <li id="slots"><img src="/icons/calendar.svg" />
                        <p>Slots</p>
                    </li>
                    <li id="appointment"><img src="/icons/appointment.svg" />
                        <p>Appointments</p>
                    </li>
                    <li id="inventory"><img src="/icons/inventory.svg" />
                        <p>Inventory</p>
                    </li>
                    <li id="invoice"><img src="/icons/invoice.svg" />
                        <p>Invoice</p>
                    </li>
                    <li id="logout"><img src="/icons/logout.svg" />
                        <p>Logout</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>