<div class="section2">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="brand">
                    <div class="brand-img">
                        <img src="/assets/logo.png" alt="brand-logo">
                    </div>
                    <div class="brand-name">
                        Garage Management System
                    </div>
                </div>
                <div class="menus">
                    <ul>
                        <li id="Dashboard"><img src="/icons/dashboard.svg" alt="d"
                                class="icons"><label>Dashboard</label></li>
                        <li id="Profile"><img src="/icons/profile2.svg" alt="p" class="icons"><label>Profile</label>
                        </li>
                        <li id="Garages"><img src="/icons/garage.svg" alt="g"><label>garages</label></li>
                        <li id="Services"><img src="/icons/service.svg" alt=""><label>Services</label></li>
                        <li id="Slots"><img src="/icons/calendar.svg" alt="c"><label>Manage Slots</label></li>
                        <li id="Appointment"><img src="/icons/appointment.svg" alt="a"><label>Appointment</label></li>
                        <li id="Inventory"><img src="/icons/car.svg" alt="c"><label>Inventory</label></li>
                        <li id="Invoice"><img src="/icons/reciept.svg" alt="r"><label>Invoice</label></li>
                        <li id="Logout"><a href='/logout'><img src="/icons/logout.svg" alt="l"><label>Logout</label></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.querySelector(`li[id=<%= active %>]`).style.color = '#fff'
    </script>
</div>