<div class="top-nav">
    <%= active.charAt(0).toUpperCase()+active.substring(1) %>
        <div class="right">
            <div class="user-profile">
                <span>Mohan Bhagat</span>
                <img src="/icons/user-circle.svg" />
            </div>
            <img src="/icons/bell.svg" />
        </div>
</div>