<div class="top-nav flex justify-between items-center w-full h-[32px] mb-4 ">
    <strong id="currentPage">
        <%= active.charAt(0).toUpperCase()+active.substring(1) %>
    </strong>
    <div class="right h-full flex">
        <div class="user-profile flex justify-between items-center h-full p-1 rounded-[15px] w-max shadow">
            <span class="text-[12px] m-2 font-bold" dataBound="name">Mohan Bhagat</span>
            <img dataBound="profile_pic" class="h-full rounded-full" />
        </div>

        <div>
            <div class="float-right relative bg-lightbg rounded-full shadow p-1 -mt-[1px] cursor-pointer"
                id="notification" onclick="showNotification()">
                <div class="absolute rounded-full w-[20px] h-[20px] ml-3 -mt-1 text-center flex justify-center items-center"
                    style="background-color: rgb(248 113 113);">
                    <div class="absolute text-sm text-white text-center totalNotification" id="totalNotification">
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
                    <path
                        d="M12 22a2.98 2.98 0 0 0 2.818-2H9.182A2.98 2.98 0 0 0 12 22zm7-7.414V10c0-3.217-2.185-5.927-5.145-6.742C13.562 2.52 12.846 2 12 2s-1.562.52-1.855 1.258C7.185 4.074 5 6.783 5 10v4.586l-1.707 1.707A.996.996 0 0 0 3 17v1a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1v-1a.996.996 0 0 0-.293-.707L19 14.586z">
                    </path>
                </svg>
            </div>
            <div class="userNotification" id="userNotification">
                <div class="bg-slate-400 max-w-fit p-2 mt-10 -ml-[315px] float-left rounded-lg absolute hidden"
                    id="detailedNotification">
                    <div class="bg-slate-400 p-3 w-10 h-10 -mt-2 mb-3 float-right rotate-45 "></div>
                    <div class="bg-light py-1 px-2 m-2 rounded-lg text-left relative">
                        <h4>Nitin</h4>
                        <p>Nitin had requested for approval of slot</p>
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>

<script>
    async function showNotification() {
        // let notification = document.querySelectorAll("#detailedNotification");
        // notification.forEach((n => {
        // n.style.display = "block";
        // }));
        let active = "appointment";
        setActive(active);
    }

    function hideNotification() {
        let notification = document.querySelectorAll("#detailedNotification");
        notification.forEach((n => {
            n.style.display = "none";
        }));
    }

</script>