<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        dark: '#152533',
                        blue: '#355364',
                        white: '#FFFFFF',
                        light: '#D9D9D9',
                        lightbg: "#d7e0e7",
                        lightorange: 'burlywood',
                        card1bg: 'rgba(255, 225, 200, 0.5)',
                        card1text: '#e96a00',
                        card2bg: 'rgba(225, 246, 247, 0.5)',
                        card2text: '#34cdd0',
                        card3bg: 'rgba(252, 226, 225, 0.5)',
                        card3text: '#df5e5e',
                        card4bg: 'rgba(237, 231, 251, 0.5)',
                        card4text: '#9a78ea'
                    }
                }
            }
        }
    </script>
</head>

<body>

    <div class="flex max-h-screen overflow-hidden">
        <div class="max-h-sm w-8/12 bg-blue">
            <div class=" object-left-top">
                <img class="logo h-20 w-20" src="/logo.png" alt="project logo">

            </div>
            <div
                class="max-h-fit m-auto max-w-md bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <img height="50px" src="/garage.png" alt="garageimage" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-sm font-bold tracking-tight text-gray-900 dark:text-white">Jay Ambe Garage
                        </h5>
                    </a>
                    <p class="mb-3 font-normal text-sm text-gray-700 dark:text-gray-400">Jay ambe garage has total 15
                        years of
                        experience in this field.It provides an excellent user experience and super fast service </p>
                    <p class="mb-3 font-normal text-sm text-gray-700 dark:text-gray-400">Address:250-2nd floore orbit
                        mall
                        kudasan , near reliance chokadi , Gandhinagar </p>
                </div>
            </div>

        </div>

        <div class="max-h-screen w-4/12 bg-dark overflow-scroll">

            <h3 class="m-5 font-semibold text-white text-4xl  dark:text-white">Services</h3>
            <ul class="w-full text-sm font-medium text-white">
                <li class="w-full m-5 border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                    <div class="flex items-center ps-3">
                        <input id="vue-checkbox" type="checkbox" value=""
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="vue-checkbox"
                            class="w-full py-3 ms-2 text-lg font-medium text-white dark:text-gray-300">Washing</label>

                    </div>
                    <p w-full>Car washing will be done fully inside and outside</p>
                </li>
                <li class="w-full m-5 border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                    <div class="flex items-center ps-3">
                        <input id="vue-checkbox" type="checkbox" value=""
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="vue-checkbox"
                            class="w-full py-3 ms-2 text-lg font-medium text-white dark:text-gray-300">Washing</label>

                    </div>
                    <p>Car washing will be done fully inside and outside</p>
                </li>
                <li class="w-full m-5 border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                    <div class="flex items-center ps-3">
                        <input id="vue-checkbox" type="checkbox" value=""
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="vue-checkbox"
                            class="w-full py-3 ms-2 text-lg font-medium text-white dark:text-gray-300">Washing</label>

                    </div>
                    <p>Car washing will be done fully inside and outside</p>
                </li>
                <li class="w-full m-5 border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                    <div class="flex items-center ps-3">
                        <input id="vue-checkbox" type="checkbox" value=""
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="vue-checkbox"
                            class="w-full py-3 ms-2 text-lg font-medium text-white dark:text-gray-300">Washing</label>

                    </div>
                    <p>Car washing will be done fully inside and outside</p>
                </li>
                <li class="w-full m-5 border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                    <div class="flex items-center ps-3">
                        <input id="vue-checkbox" type="checkbox" value=""
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="vue-checkbox"
                            class="w-full py-3 ms-2 text-lg font-medium text-white dark:text-gray-300">Washing</label>

                    </div>
                    <p>Car washing will be done fully inside and outside</p>
                </li>
                <li class="w-full m-5 border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                    <div class="flex items-center ps-3">
                        <input id="react-checkbox" type="checkbox" value=""
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="react-checkbox"
                            class="w-full py-3 ms-2 text-lg font-large text-white dark:text-gray-300">Oil
                            Change</label>
                    </div>
                </li>
                <li class="w-full m-5 border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                    <div class="flex items-center ps-3">
                        <input id="angular-checkbox" type="checkbox" value=""
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="angular-checkbox"
                            class="w-full py-3 ms-2 text-lg font-large text-white  dark:text-gray-300">Tyres</label>
                    </div>
                </li>
                <li class="w-full m-5 border-b border-gray-200 rounded-t-lg dark:border-gray-600">
                    <div class="flex items-center ps-3">
                        <input id="laravel-checkbox" type="checkbox" value=""
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="laravel-checkbox"
                            class="w-full py-3 ms-2 text-lg font-large text-white  dark:text-gray-300">Accessories</label>
                    </div>
                </li>
            </ul>
            <button type="button"
                class="bg-gray-800 m-6 w-44 text-white rounded-r-md py-2 border-l border-gray-200 hover:bg-red-700 hover:text-white px-3">
                <div class="flex flex-row align-middle">
                    <span class="mr-2">Next</span>
                    <svg class="w-5 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div>
            </button>

        </div>
    </div>

</body>

</html>