<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        dark: '#152533',
                        blue: '#355364',
                        white: '#FFFFFF',
                        light: '#D9D9D9',
                        lightbg: "#d7e0e7",
                        lightorange: 'burlywood',
                        card1bg: 'rgba(255, 225, 200, 0.5)',
                        card1text: '#e96a00',
                        card2bg: 'rgba(225, 246, 247, 0.5)',
                        card2text: '#34cdd0',
                        card3bg: 'rgba(252, 226, 225, 0.5)',
                        card3text: '#df5e5e',
                        card4bg: 'rgba(237, 231, 251, 0.5)',
                        card4text: '#9a78ea'
                    }
                }
            }
        }
    </script>
    <style>
        [type=checkbox] {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }

        [type=checkbox]+img {
            cursor: pointer;
        }

        [type=checkbox]:checked+img {
            outline: 2px solid blue;
        }
    </style>
</head>

<body>

    <div class="flex h-screen overflow-hidden relative">
        <div class="h-screen w-3/4 bg-lightbg flex bg-center bg-no-repeat bg-cover bg-[url('/assets/garage.png')] bg-blend-multiply"
            style="background-image:linear-gradient(rgba(0, 0, 0, 0.9),rgba(0,0,0,0.1)),url('/assets/garage.png')">
            <div
                class="flex bg-dark p-4 w-64 h-48 -ml-28 -mt-20 rotate-[-45deg] justify-center items-end absolute top-0 left-0">
                <div class="brand-logo">
                    <img src="/assets/logo.png" class="rotate-[45deg]" alt="logo" height="80px" width="80px">
                </div>
            </div>
            <div class="px-4 mx-auto max-w-screen-xl text-center">
                <h1 class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">
                    Marvel Autos</h1>
                <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">Here at Flowbite we
                    focus on markets where technology, innovation, and capital can unlock long-term value and drive
                    economic growth.</p>
            </div>
        </div>
        <div class="h-screen w-1/4 bg-dark overflow-scroll">

            <h3 class="m-5 font-semibold text-white text-4xl  dark:text-white">Services</h3>
            <ul class="w-full text-sm font-medium text-white">
                <% for (let i=0; i < data.length; i++) { %>
                    <li class="w-full h-20">
                        <div class="flex items-center ps-3">
                            <label>
                                <input type="checkbox" name="test" value="checkbox" checked>
                                <img src="/assets/service.png" class="w-16 h-16 rounded-md" alt="Option 1">
                            </label>
                            <div class="max-w-56">
                                <p class="font-medium text-sm ml-4">
                                    <%= data[i].description %>
                                </p>
                            </div>
                        </div>
                    </li>
                    <% } %>
            </ul>
            <button type="button"
                class="bg-gray-800 w-32 text-white rounded-r-md py-2 border-l border-gray-200 hover:bg-light hover:text-blue px-3 absolute bottom-0 right-0">
                <div class="flex flex-row align-middle">
                    <span class="mr-2">Next</span>
                    <svg class="w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div>
            </button>

        </div>
    </div>
</body>

</html>