<%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/home.css">
    </head>

    <body>
        <%- include('./partials/sidebar',{active:'Dashboard'}) %>
            <!-- <h1>Garage Management System</h1> -->
            <%- include('./partials/foot') %>