<%- include('./partials/head') %>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/styles/landingPage.css">
  <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
  <link rel="stylesheet"
    href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

  <%- include('./partials/navbar'); %>
    <div class="section mt-16">

      <section class="relative  bg-blueGray-50 mt-16" id="landing-section">
        <div class="relative  pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75">
          <!-- <div class="absolute top-0 w-full h-full bg-center bg-cover bg-no-repeat" style="
              background-image: url('/assets/garage-background.jpg');
            ">

            <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
          </div> -->
          <!-- <div class="container relative mx-auto">
            <div class="items-center flex flex-wrap">
              <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
                <div class="pr-12  w-full">
                  <h1 class="text-white font-semibold text-4xl">
                    Garage Management System
                  </h1>
                  <p class="mt-4 text-sm text-blueGray-200 text-teal-300">
                    Welcome to the ultimate and iconic world and explore our garage management
                    system
                  </p>
                </div>
              </div>
            </div>
          </div> -->
          <div class="container text-center type-writer mx-auto pr-12">
            <h1 class="text-white text-4xl  font-bold">Garage Management System</h1>
            <p class="text-teal-300">Welcome to the ultimate and iconic world and explore our garage management
              system
            </p>
          </div>
          <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
            style="transform: translateZ(0px)">
            <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
              version="1.1" viewBox="0 0 2560 100" x="0" y="0">
              <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
            </svg>
          </div>
        </div>
        <section class="pb-10 bg-blueGray-200 -mt-24">
          <div class="container mx-auto px-4">
            <div class="flex flex-wrap">
              <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                  <div class="px-4 py-5 flex-auto">
                    <div
                      class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                      <i class="fas fa-award"></i>
                    </div>
                    <h6 class="text-xl font-semibold">Several Excellent Services</h6>
                    <p class="mt-2 mb-4 text-blueGray-500">
                      Garage Owner Can add Mulitple Services that will make Customer Vehicle adorable
                    </p>
                  </div>
                </div>
              </div>
              <div class="w-full md:w-4/12 px-4 text-center">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                  <div class="px-4 py-5 flex-auto">
                    <div
                      class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-lightBlue-400">
                      <i class="fas fa-retweet"></i>
                    </div>
                    <h6 class="text-xl font-semibold">Multiple Garages</h6>
                    <p class="mt-2 mb-4 text-blueGray-500">
                      Owner Can add mulitple garages.We provides tracks of every garage latest update.
                    </p>
                  </div>
                </div>
              </div>
              <div class="pt-6 w-full md:w-4/12 px-4 text-center">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                  <div class="px-4 py-5 flex-auto">
                    <div
                      class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-emerald-400">
                      <i class="fas fa-fingerprint"></i>
                    </div>
                    <h6 class="text-xl font-semibold">Appointment Booking</h6>
                    <p class="mt-2 mb-4 text-blueGray-500">
                      Customer can book appointment.owner will approve and will be notified.
                    </p>
                  </div>
                </div>
              </div>
            </div>
        </section>
      </section>
    </div>
    <div class="section m-10" id="section2">
      <div class="show-data">
        <div class="card">
          <img src="/icons/car.svg" alt="car" class="w-10">
          <h1 class="text-white font-bold">Oil Change</h1>
        </div>
        <div class="card">
          <img src="/icons/service.svg" alt="car" class="w-10">
          <h1 class="text-white font-bold">Engine Repairing</h1>
        </div>
        <div class="card">
          <img src="/icons/car.svg" alt="car" class="w-10">
          <h1 class="text-white font-bold">General Service</h1>
        </div>
        <div class="card">
          <img src="/icons/car.svg" alt="car" class="w-10">
          <h1 class="text-white font-bold">Battery Repair</h1>
        </div>
      </div>
    </div>
    <div class="section m-10" id="section3">
      <div class="show-data">
        <div class="card">
          <div id="garageCount">100 +</div>
          Garage's Registered
        </div>
        <div class="card">
          <div id="customerCount">1000 +</div>
          Happy Customers
        </div>
        <div class="card">
          <div id="yearsCount">5+</div>
          Years of experience
        </div>
        <div class="card">
          <div id="serviceCount">100+</div>
          Services Available
        </div>
      </div>
    </div>
    <!-- component -->


    <!-- <section class="relative  bg-blueGray-50">
      <div class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75">
        <div class="absolute top-0 w-full h-full bg-center bg-cover" style="
            background-image: url('/assets/garage-background.jpg');
          ">
          <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
        </div>
        <div class="container relative mx-auto">
          <div class="items-center flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
              <div class="pr-12">
                <h1 class="text-white font-semibold text-5xl">
                  Your story starts with us.
                </h1>
                <p class="mt-4 text-lg text-blueGray-200">
                  This is a simple example of a Landing Page you can build using
                  Notus JS. It features multiple CSS components based on the
                  Tailwind CSS design system.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
          style="transform: translateZ(0px)">
          <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
            version="1.1" viewBox="0 0 2560 100" x="0" y="0">
            <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </div>
      <section class="pb-10 bg-blueGray-200 -mt-24">
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap">
            <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
              <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                <div class="px-4 py-5 flex-auto">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                    <i class="fas fa-award"></i>
                  </div>
                  <h6 class="text-xl font-semibold">Awarded Agency</h6>
                  <p class="mt-2 mb-4 text-blueGray-500">
                    Divide details about your product or agency work into parts.
                    A paragraph describing a feature will be enough.
                  </p>
                </div>
              </div>
            </div>
            <div class="w-full md:w-4/12 px-4 text-center">
              <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                <div class="px-4 py-5 flex-auto">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-lightBlue-400">
                    <i class="fas fa-retweet"></i>
                  </div>
                  <h6 class="text-xl font-semibold">Free Revisions</h6>
                  <p class="mt-2 mb-4 text-blueGray-500">
                    Keep you user engaged by providing meaningful information.
                    Remember that by this time, the user is curious.
                  </p>
                </div>
              </div>
            </div>
            <div class="pt-6 w-full md:w-4/12 px-4 text-center">
              <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                <div class="px-4 py-5 flex-auto">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-emerald-400">
                    <i class="fas fa-fingerprint"></i>
                  </div>
                  <h6 class="text-xl font-semibold">Verified Company</h6>
                  <p class="mt-2 mb-4 text-blueGray-500">
                    Write a few lines about each one. A paragraph describing a
                    feature will be enough. Keep you user engaged!
                  </p>
                </div>
              </div>
            </div>
          </div>
          <footer class="relative  pt-8 pb-6 mt-1">
            <div class="container mx-auto px-4">
              <div class="flex flex-wrap items-center md:justify-between justify-center">
                <div class="w-full md:w-6/12 px-4 mx-auto text-center">
                  <div class="text-sm text-blueGray-500 font-semibold py-1">
                    Made with <a href="https://www.creative-tim.com/product/notus-js"
                      class="text-blueGray-500 hover:text-gray-800" target="_blank">Notus JS</a> by <a
                      href="https://www.creative-tim.com" class="text-blueGray-500 hover:text-blueGray-800"
                      target="_blank"> Creative Tim</a>.
                  </div>
                </div>
              </div>
            </div>
          </footer>
      </section>
    </section> -->
    <footer class="bg-dark text-white px-4 text-left">
      <p>Copyright © 2024 Team Binary Vortex.</p>
    </footer>

    <script>
      (async () => {
        let data = await fetch('/garagesCount');
        let json = await data.json();
        document.getElementById('garageCount').innerHTML = json.count + " +";
        data = await fetch('/customerCount');
        json = await data.json();
        document.getElementById('customerCount').innerHTML = json.count + " +";
        data = await fetch('/serviceCount');
        json = await data.json();
        document.getElementById('serviceCount').innerHTML = json.count + " +";
      })();
    </script>



    <%- include('./partials/foot') %>