<%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/styles/landingPage.css">
  <div class="section">
    <div class="container">

      <div class="row-main flex">
        <div class="col-1">
          <h1 class="dark heading">Garage Management System</h1>
          <div class='console-container'><span id='text'></span>
            <div class='console-underscore' id='console'>&#95;</div>
          </div>
          <!-- <p class="dark para-1">Welcome to the ultimate and iconic world and explore our garage management system</p> -->

          <div class="login button"><a href="/u/signIn" tabindex="1">Login</a></div>
          <div class="signup button"><a href="/u">Register</a></div>
        </div>
        <div class="col-2">
          <div><img class="garage-logo" src="/assets/logo.png" alt="garage logo"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="show-data">
      <div class="card">
        100 +
        Garage's Registered
      </div>
      <div class="card">
        1000+
        Happy Customers
      </div>
      <div class="card">
        5+
        Years of experience
      </div>
      <div class="card">
        100+
        Services Available
      </div>
    </div>
  </div>



  <%- include('./partials/foot') %>