<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="./styles/service.css" />
  </head>
  <body>
    <div class="service-container">
      <div class="service-button">
        <p class="add-service-button">Add Service</p>
      </div>
      <div class="services">
        <div class="services-row">
          <div class="services-col">
            <div class="services-card">
              <img src="./assets/service.png" height="200px" width="300px"/>
              <div class="service">
                <div class="service-details">
                  <h3>Washing</h3>
                  <p class="service-description">We are washing vehicles and making them look like new ones</p>
                  <p class="service-price">$100 Only</p>
                </div>
                <div class="service-right">
                  <p class="service-status">Active</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<%- include('../partials/foot.ejs') %>
