.grid{
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    width: 120vh;
    height: 80vh;
    border-radius:10px;
}

.grid .grid-container{
    margin: 30px 0px 30px 40px;
}

.grid .grid-container h3,h4{
    color: #182B3B;
}

.grid .grid-container .wrapper{
    max-width: 100dvh;
}

.grid .grid-container .wrapper .row{
    display: flex;
    flex-wrap: wrap;
    gap: 9%;
}

.grid .grid-container .wrapper .row .col{
    width: calc(90%/2);
}

.grid .grid-container .wrapper .row .col .card{
    width: 40dvh;
    border: 1px solid #d3d5d6;
    border-radius: 10px;
    box-shadow: 0px 8px 8px #d3d5d6;
}

.grid .grid-container .wrapper .row .col .card .card-icon img{
    height: 30dvh;
    width: 40dvh;
}

.grid .grid-container .wrapper .row .col .card .card-containt .card-heading{
    margin: 0 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.grid .grid-container .wrapper .row .col .card .card-containt .card-heading .card-btn button{
    background-color: #038117;
    color: #FFFFFF;
    font-weight: 500;
    padding:0px 15px;
    border-radius: 20px;
}

.grid .grid-container .wrapper .row .col .card .card-containt .card-columns{
    color: #182B3B;
    margin: 0 7px;
    font-size: 14px;
    padding-top: 15px;
}

.grid .grid-container .wrapper .row .col .card .card-containt .card-columns .card-description{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    align-content: center;
}

.grid .grid-container .wrapper .row .col .card .card-containt .card-columns .card-description svg{
    margin-right: 8px;
    fill: #182B3B;
}