:root {
  --dark: #152533;
  --blue: #355364;
  --white: #ffffff;
  --light: #d9d9d9;
  --lightorange: burlywood;
  --lightblue: #D7E0E7;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

a {
  color: var(--white);
}

body {
  background-color: var(--white);
}

.section {
  height: 900px;
}

#section2 {
  height: 450px;
}

#section3 {
  height: 450px;
}

#landing-section {
  margin: 0 auto;
  margin-top: 4rem;
  background: linear-gradient(-180deg, rgba(0, 0, 0, 0.731), rgba(0, 15, 69, 0.731)), url('/assets/garage-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;


  .type-writer {
    max-width: max-content;
  }
}

#backgroundImage {
  background: linear-gradient(-180deg, rgba(0, 0, 0, 0.731), rgba(0, 15, 69, 0.731))
}

.type-writer p {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(40, end);
  /* ,blink-caret .75s step-end infinite; */
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: orange;
  }
}

.container {
  margin: 0 auto;
  max-width: 80%;
  margin-top: 50px;
  text-align: start;
}

.dark {
  color: var(--dark);
}

.col-1 {
  width: 50%;
}

.col-2 {
  width: 30%;
  margin: auto auto;
}

.garage-logo {
  background-color: var(--dark);
}

.heading {
  font-size: 50px;
  margin: 30px 0px;
}

.para-1 {
  color: var(--blue);
  font-size: 30px;
  font-weight: bold;
}

.button {
  margin: 50px 0px;
  background-color: var(--dark);
  font-weight: bold;
  font-size: 20px;
  width: 300px;
  height: 50px;
  border-radius: 7px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button:hover {
  background-color: burlywood;
}

.show-data {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  width: 20%;
  height: 300px;
  background-color: var(--dark);
  border: 1px solid black;
  border-radius: 7px;
  color: black;
  font-size: 30px;
  color: var(--white);
  border-radius: 7px;
}

.card:hover {
  background-color: #355364;
  margin-top: -20px;
}

.list-container {
  display: flex;
  list-style-type: none;
  justify-content: end;
  gap: 1rem;
  background-color: var(--dark);
  color: white;

  .list {
    margin: 1rem 0;
    margin-right: 1rem;
    font-size: large;
    font-weight: bold;
  }
}

.bg-dark {
  background-color: var(--dark);
}

.text-dark {
  color: var(--dark);
}