@import url("https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap");
* {
  border: 1px solid;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Kadwa", serif;
}
body {
  overflow: hidden;
}
.dashboard {
  height: 100dvh;
  width: 100dvw;
}
.sidebar {
  height: 100%;
  width: 220px;
  background: var(--dark);
}
.row,
.col,
.brand {
  width: 100%;
  color: #fff;
}
.brand img {
  width: 100px;
}
.brand p {
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.menu ul li {
  display: flex;
  justify-content: space-between;
}
