.grid{
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
  width: 95%;
  height: 100%;
  background-color:#DFE7EC;
  border-radius:10px;
  box-shadow: 0px 8px 8px #d3d5d6;
}

.grid .profile-wrapper{
  max-width: max-content;
}

.grid .profile-wrapper .profile-row{
  display: flex;
  gap: 70px;
}

.grid .profile-wrapper .profile-row .profile-col{
  margin: 0 auto;
  width: calc(70%/2);
}

.grid .profile-wrapper .profile-row .profile-col .profile-container{ 
  display: inline-block;
}

.grid .profile-wrapper .profile-row .profile-col .profile-container .user-profile{
  margin: 20px auto;
  width:350px;
  align-items: center;
  text-align: center;
  background-color: #DFE7EC;
  padding: 8px 0px 8px 0px;
  border-radius: 9px;
  box-shadow: 0px 8px 8px #d3d5d6;
}

.grid .profile-wrapper .profile-row .profile-col .user-profile .user-img img{
  width: 200px;
  height: 250px;
}

.grid .profile-wrapper .profile-row .profile-col .user-profile .user-title {
  text-align: center;
}

.grid .profile-wrapper .profile-row .profile-col .user-contact{
  border-radius: 9px;
  background-color:  #DFE7EC;
  width: 350px;
  box-shadow: 0px 8px 8px #d3d5d6;
}

.grid .profile-wrapper .profile-row .profile-col .user-contact .contact-header{
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.grid .profile-wrapper .profile-row .profile-col h3,h4{
  color: #182B3B;
}

.grid .profile-wrapper .profile-row .profile-col .user-contact .contact-header .contact-icon img{
  border-radius: 50%;
  padding: 4px;
}

.grid .profile-wrapper .profile-row .profile-col .user-contact .contact-information .contact-columns{
  margin: 4px 10px;
  display: flex;
  text-align: left;
} 

.grid .profile-wrapper .profile-row .profile-col .user-contact .contact-information .contact-columns .contact-columns-description{
  margin-left: 10px;
} 

.grid .profile-wrapper .profile-row .profile-col .user-contact .contact-information .contact-columns .contact-columns-icons img{
  width: 25px;
  height: 25px;
  background-color: #182B3B;
  border-radius: 50%;
  padding: 4px;
} 


.grid .profile-wrapper .profile-row .profile-col .bio-container{
  margin: 50px auto;
  width: 430px;
  padding: 0px 20px 20px 20px;
  background-color: #DFE7EC;
  box-shadow: 0px 8px 8px #d3d5d6;
  border-radius: 9px;
}

.grid .profile-wrapper .profile-row .profile-col .bio-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.grid .profile-wrapper .profile-row .profile-col .bio-header .bio-icon img{
  background-color: #182B3B;
  border-radius: 50%;
  padding: 4px;
}

.grid .profile-wrapper .profile-row .profile-col .bio-container .bio-content{
  text-align: justify;
  text-justify: inter-word;
  line-height: 2;
}