.grid {
  display: flex;
  width: 100%;
  /* background-color: white; */
  border-radius: 10px;
}

.grid .profile-container {
  margin: 30px 0px 30px 40px;
}

.grid .profile-container .container-heading {
  text-align: left;
}

.grid .profile-container h3,
h4 {
  color: #182b3b;
}

.grid .container-heading hr {
  color: #182b3b;
  margin-top: -10px;
  width: 140dvh;
}

.grid .profile-container .wrapper {
  max-width: 140dvh;
}

.grid .profile-container .wrapper .row {
  display: flex;
  flex-wrap: wrap;
  gap: 9%;
}

.grid .profile-container .wrapper .row .col {
  width: calc(90% / 2);
}

.grid .profile-container .wrapper .form-handler {
  margin-top: 30px;
}

.grid .profile-container .wrapper .form-handler .form-input-container {
  display: flex;
  justify-content: space-between;
}

.grid .profile-container .wrapper .form-handler .form-input-container label {
  color: #182b3b;
  font-weight: bold;
}

.grid .profile-container .wrapper .form-handler .form-input-container input {
  width: 275px;
  border-radius: 4px;
  border: 1px solid rgba(24, 43, 59, 0.5);
}

.grid
  .profile-container
  .wrapper
  .form-handler
  .form-input-container
  .form-input
  select {
  border-radius: 4px;
  width: 275px;
  background-color: white;
  border: 1px solid rgba(24, 43, 59, 0.5);
}

.grid .profile-container .wrapper .form-button {
  float: right;
}

.grid .profile-container .wrapper .form-button input {
  padding: 6px 14px;
  background-color: #182b3b;
  font-weight: bold;
  color: #ffffff;
  border-radius: 7px;
}
