<div class="w-full h-full relative">
    <div class="h-[100%] bg-no-repeat bg-cover" id="map">

    </div>    
    <div class="h-[4%] bottom-0 bg-lightbg justify-center items-center  absolute hidden">
            <input type="button" class="bg-dark mx-3 px-2 rounded-lg text-white font-medium" name="left" value="<<">
            <input type="button" class="bg-dark mx-3 px-2 rounded-lg text-white font-medium" name="right" value=">>">
    </div>
</div>
