<script src="/scripts/slotDisplay.js"></script>

<script>

  /*Map */
  const getUserLocation = async () => {
    let location = await (new Promise((resolve, reject) => {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
          resolve([position.coords.latitude, position.coords.longitude])
        });
      } else {
        let latitude = 22.684282675883896;
        let longitude = 72.88051636361853;
        toast("error", "Geolocation is not supported by this browser.");
        reject([latitude, longitude]);
      }
    }))
    return location;
  }
  const loadMap = async () => {
    const position = await getUserLocation();
    const map = L.map('map').setView(position, 8);

    // Google layer (HTTPS URL)
    const googleStreets = L.tileLayer('https://{s}.google.com/vt?lyrs=m&x={x}&y={y}&z={z}', {
      maxZoom: 20,
      subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
    }).addTo(map);
    /*My Location Icon*/
    const myIcon = L.icon({
      iconUrl: 'https://raw.githubusercontent.com/Makwana-Bharat/pathdarshak/main/assest/Images/Location.png',
      iconSize: [50, 50],
    });
    const MyLoc = L.marker(position, { icon: myIcon, draggable: false }).addTo(map);
    /* Layer Management*/
    const overlayMaps = {
      "Marker": MyLoc
    };
    L.control.layers(overlayMaps).addTo(map);
  }
  setTimeout(() => {
    document.querySelector('.overlay').remove();
    changePage('next');
    setActive('<%= active %>');
  }, 9500)
  loadMap()
</script>


</body>

</html>