<div
    class="max-h-fit mx-auto my-20 max-w-md bg-white border border-gray-200 rounded-2xl shadow ">
    <input type="hidden" name="garageId" id="garageId" value="">
    <a href="#">
        <img height="50px" class="w-full" src="" onerror="this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeUyb754vebKqfbxScXd11wIOQGyxRlNNQBv31JG4wC9ytLmJgMP3i__68EPQpIN3vrPk&usqp=CAU'" alt="garageimage" id="garageImg" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-sm font-bold tracking-tight" id="garageTitle">
                Jay Ambe Garage
            </h5>
        </a>
        <p class="mb-3 font-normal text-sm ">
            Jay ambe garage has total 15 years of experience in this field.It
            provides an excellent user experience and super fast service
        </p>
        <p class="mb-3 font-normal text-sm" id="garageAddress">
            Address:250-2nd floore orbit mall kudasan , near reliance chokadi
            , Gandhinagar
        </p>
    </div>
</div>