<div class="h-screen w-[5%] bg-dark">
  <div class="brand-logo top-0 left-0 m-2">
    <img src="/assets/logo.png" alt="logo" class="w-[50px] h-[50px]" />
  </div>
  <div class="brand">
    <p
      class="-mt-10 break-words text-center font-bold text-2xl capitalize text-slate-300 tracking-widest whitespace-break-spaces"
    >
      <br />G<br />a<br />r<br />a<br />g<br />e<br />G<br />u<br />r<br />u
    </p>
  </div>
  <div
    class="absolute bottom-0 left-0 m-2 flex flex-col justify-evenly items-center h-[15%]"
    onclick="setActive('profile')"
  >
    <div>
        <img
        src="/assets/profile.webp"
        class="rounded-full w-[45px] h-[45px] border-4 border-blueborder cursor-pointer"
        alt="user"
        id="prifile_pic"
      />
      
    </div>
    <div>
        <input
        type="button"
        value="Logout"
        class="bg-transparent hover:bg-blue-500 text-white font-semibold py-2 px-2 border border-blue-500 rounded w-[95%] cursor-pointer" id="logout_customer"
      />
    </div>
  </div>
</div>
