<div class="h-screen w-full bg-lightbg flex bg-center bg-no-repeat bg-cover bg-[url('garage.png')] bg-blend-multiply"
    style="background-image:linear-gradient(rgba(0, 0, 0, 0.9),rgba(0,0,0,0.1)),url('/assets/garage.png')">
    <div class="px-4 mx-auto max-w-screen-xl text-center">
        <h1 class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">
            Marvel Autos</h1>
        <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">Here at Flowbite we
            focus on markets where technology, innovation, and capital can unlock long-term value and drive
            economic growth.</p>
    </div>
</div>