<div class="mt-6 h-5/6 px-4 flex flex-col w-full">
    <p class="my-2 text-white text-lg font-bold border-b-2 break-keep max-w-fit">
      Please Select Vehicle Type
    </p>

    <form id="vehicleType" name="vehicle">

    <div class="mt-5 flex flex-row text-white justify-between w-11/12">
      <div class="flex flex-col items-center content-between">
        <label>
          <input type="radio" name="vehicle" value="car" class="absolute w-0 h-0 opacity-0"/>
          <img class="box-border h-24 w-24 p-2 rounded-xl border-4 border-blueborder bg-light justify-between hover:border-gray-500 hover:bg-sky-300" src="/assets/car.png"
            alt="Option 1" />
        </label>
        <p class="text-l">CAR</p>
      </div>
      <div class="flex flex-col items-center content-between">
        <label>
          <input type="radio" name="vehicle" value="bicycle" class="absolute w-0 h-0 opacity-0"/>
          <img class="box-border h-24 w-24 p-2 rounded-xl border-4 border-blueborder bg-light justify-between hover:border-gray-600 hover:bg-sky-300" src="/assets/bicycle.png"
            alt="Option 1" />
        </label>
        <p class="text-l">BICYCLE</p>
      </div>
    </div>

    <div class="mt-5 flex flex-row text-white  justify-between w-11/12">
      <div class="flex flex-col items-center content-between">
        <label>
          <input type="radio" name="vehicle" value="truck" class="absolute w-0 h-0 opacity-0"/>
          <img class="box-border h-24 w-24 p-2 rounded-xl border-4 border-blueborder bg-light justify-between hover:border-gray-600 hover:bg-sky-300" src="/assets/truck.png"
            alt="Option 1" />
        </label>
        <p class="text-l">TRUCK</p>
      </div>
      <div class="flex flex-col items-center content-between">
        <label>
          <input type="radio" name="vehicle" value="bus" class="absolute w-0 h-0 opacity-0"/>
          <img class="box-border h-24 w-24 p-2 rounded-xl border-4 border-blueborder bg-light justify-between hover:border-gray-600 hover:bg-sky-300" src="/assets/bus.png"
            alt="Option 1" />
        </label>
        <p class="text-l">BUS</p>
      </div>
    </div>

    <div class="mt-5 flex flex-row text-white justify-between w-11/12">
      <div class="flex flex-col items-center content-between">
        <label>
          <input type="radio" name="vehicle" value="van" class="absolute w-0 h-0 opacity-0"/>
          <img class="box-border h-24 w-24 p-2 rounded-xl border-4 border-blueborder bg-light justify-between hover:border-gray-600 hover:bg-sky-300" src="/assets/van.png"
            alt="Option 1" />
        </label>
        <p class="text-l">VAN</p>
      </div>
      <div class="flex flex-col items-center content-between">
        <label>
          <input type="radio" name="vehicle" value="bike" class="absolute w-0 h-0 opacity-0"/>
          <img class="box-border h-24 w-24 p-2 rounded-xl  border-4 border-blueborder bg-light justify-between hover:border-gray-600 hover:bg-sky-300" src="/assets/bike.png"
            alt="Option 1" />
        </label>
        <p class="text-l">BIKE</p>
      </div>
    </div>
    <div class="mt-10 justify-center">
      <p class="text-red text-center mb-2 hidden" id="vehicle-type-error">Please select the type of vehicle</p>
      <input type="button"
        onclick="vehicleType()"
        class="inline-block rounded-full bg-light px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-neutral-600 shadow-light-3 transition duration-150 ease-in-out hover:bg-neutral-200 hover:shadow-light-2 focus:bg-neutral-200 focus:shadow-light-2 focus:outline-none focus:ring-0 active:bg-neutral-200 active:shadow-light-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong  w-full"
        value="Move to Next">
    </div>
  </form>
  </div>


<script>

const checkVehicleType = async () => {
    let vehicleType = localStorage.getItem("vehicleType");
    // console.log(vehicleType === "null");
    if(vehicleType !== "null"){
      userVehicle(vehicleType);
    }else{
      setActive("home");
    }
};

checkVehicleType();
    
    const userVehicle = async (vehicleType) => {
        let vehicles = await callAPI(`/customer/addVehicle/${vehicleType}`);
        userVehicles = '';
        vehicles.result?.forEach(vehicles => {

          userVehicles = `<div class="bg-light max-w-max h-1/5  my-5 rounded-lg hover:bg-sky-200 flex userVehicleData">
                  <input type="checkbox" name="userVehicle" value="${vehicles.vehicle_id}" id="${vehicles.vehicle_id}">
                  <div class="garage-icon border-2">
                      <img src="/assets/activa.jpg" class="h-full bg-cover" alt="activa" class="object-cover">
                  </div>
                  <div class="garage-info max-w-fit p-2">
                      <label for="${vehicles.vehicle_id}">  
                        <h3 class="font-medium text-lg text-left mb-3">${vehicles.register_plate_number}</h3>
                        <p class="text-sm">Brand:- ${vehicles.brand}</p>
                        <p class="text-sm text-left break-keep">Model:- ${vehicles.model}</p>
                        <p class="text-sm">Year:- ${vehicles.year}</p>
                      </label>
                  </div>
                </div>`;
        })

        document.getElementById('userVehicle-wrapper').innerHTML =+ userVehicles;

        localStorage.setItem("vehicleType",vehicleType);

        setActive('addVehicle');

    }

    const vehicleType = async () => {
      let vehicle = document.getElementById('vehicleType');
      let vehicleData = new FormData(vehicle);

      // console.log((vehicleData.get("vehicle") === ""));

      let vehicleType = vehicleData.get("vehicle");

      if(vehicleType === ""){
        console.log("Plz select any vehicle type");
        return;
      }

      userVehicle(vehicleType);

    }

  

</script>