<h3 class="my-2 text-white font-bold border-b-2 max-w-fit ml-4 mt-4">Your Vehicles</h3>
<div class="overflow-scroll h-screen px-3 relative">

    <div class="bg-light max-w-fit h-1/5  mt-5 rounded-lg flex">
        <div class="garage-icon border-2 w-2/4">
            <img src="/assets/bmw.jpg" class="h-full bg-cover" alt="bmw" class="object-cover">
        </div>
        <div class="garage-info max-w-fit p-2">
            <h3 class="font-medium text-lg text-center mb-3">MH01 BG 2654</h3>

            <p class="text-sm">Brand:- BMW</p>
            <p class="text-sm">Model:- X5</p>
            <p class="text-sm">Year:- 2024</p>
        </div>
    </div>

    <div class="bg-light max-w-fit h-1/5  mt-5 rounded-lg flex">
        <div class="garage-icon border-2 w-2/4">
            <img src="/assets/activa.jpg" class="h-full bg-cover" alt="activa" class="object-cover">
        </div>
        <div class="garage-info max-w-fit p-2">
            <h3 class="font-medium text-lg text-center mb-3">GJ01 XZ 1154</h3>

            <p class="text-sm">Brand:- Honda</p>
            <p class="text-sm">Model:- Activa-125</p>
            <p class="text-sm">Year:- 2023</p>
        </div>
    </div>

</div>