<form class="flex flex-col w-full h-full  rounded shadow-md p-4 bg-white" method="post" id="garageAdd"
  onsubmit="handleGarage(event)">
  <h2 class="text-2xl font-bold mb-2 text-left text-dark">New Garage</h2>
  <h3 class="text-dark font-semibold text-left mb-2">Garage Information</h3>
  <hr>
  <div class="w-full flex my-4">
    <div class="flex items-center justify-center w-1/4 h-46 mr-5">
      <label for="dropzone-file"
        class="flex flex-col items-center justify-center w-full h-full  border-2  border-dashed rounded-lg cursor-pointer bg-light  dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
          <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
          </svg>
          <p class="text-xs text-gray-500 dark:text-gray-400">Thumbnail</p>
        </div>
        <input id="dropzone-file" type="file" class="hidden" />
      </label>
    </div>

    <div class="input-group w-3/4 mt-2">
      <div class="flex items-center mb-2">
        <label for="name" class="text-md font-medium mr-2 w-[80px] text-left text-dark">Name</label>
        <input type="text" id="name" name="name" placeholder="garage name"
          class="flex-grow rounded border border-gray-300 px-2 py-1 focus:outline-none focus:ring-1 focus:ring-blue-500 text-sm text-blue mr-2"
          Validation="require multi_word" oninput="Validation.isValid(this)">
      </div>
      <div class="flex items-center mb-2">
        <label for="email" class="text-md font-medium mr-2 w-[80px] text-left text-dark">Email</label>
        <input type="text" id="email" name="email" placeholder="abc@abcmail.com"
          class="flex-grow rounded border border-gray-300 px-2 py-1 focus:outline-none focus:ring-1 focus:ring-blue-500 text-sm text-blue mr-2"
          Validation="require email" oninput="Validation.isValid(this)">
      </div>
      <div class="flex items-center mb-2">
        <label for="contact" class="text-md font-medium mr-2 w-[80px] text-left text-dark">Contact</label>
        <input type="text" id="contact" name="contact" placeholder="1234567890"
          class="flex-grow rounded border border-gray-300 px-2 py-1 focus:outline-none focus:ring-1 focus:ring-blue-500 text-sm text-blue mr-2"
          Validation="require digit10 mobile" oninput="Validation.isValid(this)">
      </div>
    </div>
  </div>
  <div class="input-group flex w-full">
    <div class="flex items-center mb-3 w-1/2 mr-4">
      <label for="openTime" class="text-sm  mr-2 text-left font-medium text-dark">Open Time</label>
      <input type="time" id="openTime" name="openTime"
        class="flex-grow rounded border border-gray-300 px-2 py-1 focus:outline-none focus:ring-1 focus:ring-blue-500 text-sm text-blue mr-2"
        Validation="require" oninput="Validation.isValid(this)">
    </div>
    <div class="flex items-center mb-4 w-1/2">
      <label for="closeTime" class="text-sm  mr-2 text-left font-medium text-dark">Close Time</label>
      <input type="time" id="closeTime" name="closeTime"
        class="flex-grow rounded border border-gray-300 px-2 py-1 focus:outline-none focus:ring-1 focus:ring-blue-500 text-sm text-blue mr-2"
        Validation="require" oninput="Validation.isValid(this)">
    </div>
  </div>
  <h3 class="text-dark font-semibold text-left my-2">Address Information</h3>
  <hr>
  <div class="input-group flex w-full mt-2">
    <div class="flex items-center mb-4 w-1/2 mr-4">
      <label for="area" class="text-sm font-mediu mr-2 text-left font-medium w-[80px] text-left text-dark">Area</label>
      <input type="text" id="area" name="area" placeholder="00,xyz"
        class="flex-grow rounded border border-gray-300 px-2 py-1 focus:outline-none focus:ring-1 focus:ring-blue-500 text-sm text-blue"
        Validation="none">
    </div>
    <div class="flex items-center mb-4 w-1/2">
      <label for="state" class="text-sm  mr-2 text-left font-medium w-[80px] text-left text-dark">State</label>
      <select id="state" name="state"
        class="flex-grow rounded border border-gray-300 px-2 py-1 focus:outline-none focus:ring-1 focus:ring-blue-500 text-sm text-blue"
        Validation="require"></select>
    </div>
  </div>
  <div class="input-group flex w-full">
    <div class="flex items-center mb-4 w-1/2 mr-4">
      <label for="city" class="text-sm font-mediu mr-2 text-left font-medium w-[80px] text-left text-dark">City</label>
      <select id="city" name="city"
        class="flex-grow rounded border border-gray-300 px-2 py-1 focus:outline-none focus:ring-1 focus:ring-blue-500 text-sm text-blue"
        Validation="none">
      </select>
    </div>
    <div class="flex items-center mb-4 w-1/2">
      <label for="pincode" class="text-sm  mr-2 text-left font-medium w-[80px] text-left text-dark">Pincode</label>
      <input type="number" id="pincode" name="pincode" placeholder="123456"
        class="flex-grow rounded border border-gray-300 px-2 py-1 focus:outline-none focus:ring-1 focus:ring-blue-500 text-sm text-blue"
        Validation="require digit6" oninput="Validation.isValid(this)">
    </div>
  </div>
  <label for="description" class="text-sm font-bold mr-2 text-left text-dark">Description</label>
  <div class="flex items-center mb-4">
    <textarea id="description" name="description" rows="5"
      class="flex-grow rounded border border-gray-300 px-2 py-1 focus:outline-none focus:ring-1 focus:ring-blue-500 text-sm text-blue"
      placeholder="type here.." Validation="none"></textarea>
  </div>
  <div class="w-full flex justify-end">
    <button type="submit" class="bg-dark  text-white font-bold py-2 px-4 w-max rounded shadow-md mt-4">+
      Add</button>
  </div>
</form>
<script src="/scripts/validation.js"></script>
<script src="/scripts/apiCall.js"></script>
<script src="/scripts/garageForm.js"></script>