<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Garage List</title>
    <link rel="stylesheet" href="/styles/garegeList.css" />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="title">
          <div class="title-value">Garage List</div>
        </div>
        <div class="serachbar-div">
          <input
            class="searchbar font-family"
            type="text"
            name="searchValue"
            id="searchValue"
            placeholder="Search here"
          />
        </div>
        <div class="table">
          <table>
            <tr class="table-head font-family">
              <th>Sr. No</th>
              <th>Garage Name</th>
              <th>Contact Number</th>
              <th>Open Time</th>
              <th>Close Time</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            <tr class="tr-class font-family">
              <td>1</td>
              <td>kalyan Garage</td>
              <td>1234567890</td>
              <td>10:00</td>
              <td>21:00</td>
              <td><div class="active">Active</div></td>
              <td>
                <div class="hm-menu">
                  <img src="/icons/threedots.svg" />
                  <div class="list-cs">
                    <div class="list-cs-data">
                      <img src="/icons/delete.svg" alt="" srcset="" />
                      <a href="#">Edit</a>
                    </div>
                    <div class="list-cs-data">
                        <img src="/icons/edit.svg" alt="" srcset="" />
                      <a href="#">Delete</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="tr-class font-family">
              <td>1</td>
              <td>kalyan Garage</td>
              <td>1234567890</td>
              <td>10:00</td>
              <td>21:00</td>
              <td><div class="deactive">Deactive</div></td>
              <td>
                <div class="hm-menu">
                  <img src="/icons/threedots.svg" />
                  <div class="list-cs">
                    <div class="list-cs-data">
                      <img src="/icons/delete.svg" alt="" srcset="" />
                      <a href="#">Edit</a>
                    </div>
                    <div class="list-cs-data">
                        <img src="/icons/edit.svg" alt="" srcset="" />
                      <a href="#">Delete</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="pagination font-family">
          <div class="font-family">Showing 1 to 8 of 8 entries</div>
          <div class="page-buttons button-group">
            <input class="font-family buttons" type="button" value="Prev" />
            <div class="current">1</div>
            <input class="font-family buttons" type="button" value="Next" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
