<%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/styles/ownerProfile.css">
  </head>

  <body>
    <!-- <div class="dashboard">
      <%- include('../partials/sidebar',{active:'Profile'}) %>
    </div> -->

    <div class="card-container">
      <div class="left">

        <div class="card">
          <div class="photo">
            <img src="/assets/profile.webp" alt="image" class="profile-image">
          </div>
          <h2>Shailesh Chaudhari</h2>
          <p>(Owner)</p>
        </div>
        <div class="card">
          <h3>Contact details</h3>
          <div class="email">
            <img src="/icons/mail.svg" alt="e" class="icons">
            <p>abcd@example.com</p>
          </div>
          <div class="location">
            <img src="/icons/location.svg" alt="l" class="icons">
            <p>lorem ipsum</p>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="card">

          <h3>Bio</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ad tenetur odit amet officia magnam
            cupiditate. Adipisci commodi accusamus quae unde a, eos, vero eaque necessitatibus ea iste quidem quod
            exercitationem maiores libero corporis?</p>
        </div>
      </div>
      <img src="/icons/pencil.svg" alt="p" class="icons pencil" id="edit">
    </div>

    <script>
      document.getElementById('edit').addEventListener('click', () => {
        location.href = "/profile/edit";
      })
    </script>
    <%- include('../partials/foot') %>