<%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/styles/ownerDashboard.css">
  </head>

  <body>
    <div class="dashboard">
      <%- include('../partials/sidebar',{active:'Profile'}) %>
    </div>

    <div class="container">
      <h1>Profile</h1>
      <div class="right">
        <div class="profile">
          <h2>Name</h2>
          <img src="/icons/profile.svg" alt="p">
        </div>
        <img src="/icons/notification.svg" alt="n">
      </div>
      <div class="card-container">
        <div class="card">
          <div class="photo">
            photo
          </div>
          <h2>name</h2>
          <p>(designation)</p>
        </div>
        <div class="card">
          <h3>Contact details</h3>
          <img src="/icons/pencil.svg" alt="p">
          <div class="email">
            <img src="/icons/mail.svg" alt="e">
            <p>abcd@example.com</p>
          </div>
          <div class="location">
            i
            <p>lorem ipsum</p>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/foot') %>