<%- include('../partials/head') %>
  </head>

  <body>
    <div class="container">
      <h1>Profile</h1>
      <div class="right">
        <div class="profile">
          <h2>Name</h2>
          p
        </div>
        i
      </div>
      <div class="card-container">
        <div class="card">
          <div class="photo">
            photo
          </div>
          <h2>name</h2>
          <p>(designation)</p>
        </div>
        <div class="card">
          <h3>Contact details</h3>
          <div class="email">
            i
            <p>abcd@example.com</p>
          </div>
          <div class="location">
            i
            <p>lorem ipsum</p>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/foot') %>